[2021-11-15 10:21] #2739 closed

[2021-11-15 12:35] Gasparoken commented on #3052
Thanks for this report Jeremy! I was able to reproduce it. The #2739 is a different issue (related with re-mapping tiles coordinates in new canvas definition)

[2021-11-15 12:47] dacap opened #3054 "Wrong clipping drawing an image related to a cel into other image."
Source: https://community.aseprite.org/t/trying-to-copy-and-paste-a-sprite-to-create-a-pattern-with-a-script/6484/9

[2021-11-15 12:49] #3053 closed

[2021-11-15 18:53] #3054 closed

[2021-11-16 13:03] iamOgunyinka opened #3055 "Crash on exit when the color profile in use is different from the system's default"
A lingering issue that has been encountered [before](https://github.com/aseprite/laf/blob/726481f27c8258aa8fba577bf1529a5f40acec59/os/win/window.cpp#L303-L305) is what I may be describing here. In this case, I encountered this bug when I changed the color profile of my Windows 10 PC from the default sRGB to a random color profile. On exit, this [ASSERT](https://github.com/aseprite/laf/blob/726481f

[2021-11-16 13:56] dacap commented on #3055
Thanks a lot for the analysis @iamOgunyinka 🙏

Personally I would prefer to keep some kind of comparison inside `checkColorSpaceChange()` to avoid creating unnecessary "change color space" events (as the function [is always called in WM_SHOWWINDOW](https://github.com/aseprite/laf/blob/d76cc1af5564ed510fb31270d06f36dc1e426f40/os/win/window.cpp#L870)). Maybe the pointer comparison can be kept.

I'm

[2021-11-16 14:58] iamOgunyinka commented on #3055
Thank you for taking your time to read through the issue. I'll start from your last bulletin and walk my way up.

Unfortunately, this would (and did) not work. The destruction and nullification of the global system object is done by the cleanup of the local `os::System` variable in main(). Before that destruction is hit, we already have the RedrawWindow event in the global queue. When the global e

[2021-11-16 15:21] dacap commented on #3055
OK now I understand. I think we had a similar issue in the past ([maybe this](https://github.com/aseprite/laf/commit/1e66d1d9d50cececb160f0fe37dec311107e2ded)).

Our main source of problems is that `os::Event` contains a `os::WindowRef` (a smart pointer). Here the problem is that the event queue contains several queued `os::Event`s, and when we destroy the global `EventQueue` the `~Event` of each

[2021-11-16 15:42] iamOgunyinka commented on #3055
I'll create a PR that does this now.

[2021-11-17 10:36] iamOgunyinka commented on #2893
@dacap I may have fixed this issue with minimal changes to the internal API and saved palette now retain the active document's color profile. I do have a (naive) question, however, when you load a palette with an ICC color profile in a file (whose color profile is sRGB, for example), is the color profile of the document supposed to change too (from sRGB to the ICC profile)?

[2021-11-17 11:04] dacap commented on #2893
@iamOgunyinka nice question, didn't think about that. I think we can do this in a couple of commit:

1. fix the issue of saving the color profile in the palette (if the file format support saving color profiles), and then
2. adding some UI to load the color profile from the palette

The logic to load the color profile could be something like: if the palette doesn't contain a color profile or it's

[2021-11-17 11:34] dacap opened #3057 "Migration to Skia m96"
We're going to migrate to Skia m96 soon. Some work-in-progress in the aseprite branch [skia-m96](https://github.com/aseprite/aseprite/tree/skia-m96) is already done, skia branch [aseprite-m96](https://github.com/aseprite/skia/tree/aseprite-m96), and there are already some [pre-compiled packages of Skia m96](https://github.com/aseprite/skia/releases/tag/m96-2f1f21b8a9) available. The final migratio

[2021-11-17 11:42] Omar-Abdul-Aziz opened #3058 "show/hide timeline confirms ctrl+drag selection"
I don't like being the main bringer of bad news but a bug is there whether you know about it or not so let me tell you about it

you can use ctrl+drag a selection to duplicate it... you also get the option to either cancel or confirm that duplication... but what if you want to do neither and just show/hide the timeline? that confirms your duplication ;-;
tested on 1.3beta6

![bugu](https://user-im

[2021-11-17 11:43] dacap commented on #424
Related https://community.aseprite.org/t/disable-multi-step-undo/11792

[2021-11-17 11:45] Omar-Abdul-Aziz commented on #3058
also it would be nice if we had a keybind to confirm/cancel a selection

[2021-11-17 11:47] dacap commented on #3058
Thanks for the report!

<kbd>Enter</kbd> and <kbd>Esc</kbd> key work for accepting/escaping the transformation, and <kbd>Ctrl+Z</kbd> just cancels/undoes the transformation/backs to the original state.

[2021-11-17 13:30] dacap commented on #3055
I didn't remember but it looks like I already fixed this same issue one Linux 10 months ago (the comment says "displays" because an `os::Window` was called `os::Display`, but it was refactored):

https://github.com/aseprite/laf/blob/73ade80442828627599eaff0f9ca12ee1dc1b991/os/x11/x11.cpp#L49

I'll merge your PR + some other commits.

[2021-11-17 14:06] Gasparoken commented on #2691
Thanks for this report CGGSqaure. I tried to reproduce this issue (on 1.2.30), but I don't sure if I'm doing as you said.
When you said: "....and then put a lighter color over the entire canvas...." did you mean: "...and then painted the remain with Paint Bucket tool with other color..." or in other layer behind, did you painted the entire canvas with gray color?
I tried both and I don't the way t

[2021-11-17 14:16] #3055 closed

[2021-11-17 17:51] #3057 closed

[2021-11-17 19:25] CGGSqaure commented on #2691
honestly, i tried to reproduce this issue because i think i already solved it by turning off some "blend colors" mode a while back, but now i cant even seem to figure out what did it in the first place. i have the 1.3 beta 7, so. i guess either it was indeed a bug and was fixed or something or im just dumb and cant remember

[2021-11-17 19:29] magickbirb commented on #2732
Hmm, I'm not sure if I ever encountered what you're describing
Also I realized I haven't encountered the issue I described originally for a long time either, maybe it's disappeared after one of the updates

[2021-11-18 14:46] Gasparoken commented on #2662
This was fixed in the website repository. Changes will be reflected in next website update.

[2021-11-18 14:46] #2662 closed

[2021-11-18 15:04] Gasparoken commented on #2657
Thanks for this report and advises.

- It clutters up the Undo History.
My first impression is to ask: why is it useful for you to exclude canvas flip from undo history (could you give me some use case?)
- The view doesn't stay on what I was working on after the flip
This feature sound good!

[2021-11-18 17:45] nullbunny commented on #2657
Thanks for considering this!

"why is it useful for you to exclude canvas flip from undo history (could
you give me some use case?)"

Flipping the canvas is helpful when working on things like portraits of
characters and anatomy. You flip the canvas to find mistakes and I do it a
lot during my work. Sometimes I'd like to flip the canvas, work on
corrections, flip back and forth to see how it looks

[2021-11-18 19:17] Gasparoken commented on #2657
Thanks for the clarification! Interesting.
We'll evaluate the options:
- A check box in Preferences (something like "Exclude Canvas transformations") ?
- New normal behavior?
- Should other tools or commands have this undo exclusion property?
- Others?

[2021-11-18 20:55] dacap commented on #2657
Hi there 👋 Please @Gasparoken check that this is only a "viewport feature", here @nullbunny wants to flip the canvas viewport so we can see/edit the image flipped. This is a duplicate #1225 if I understand correctly.

This is like applying a transformation matrix to the output (and the input), but the internal pixels/data doesn't change, only the viewport/editor.

[2021-11-19 09:09] iamOgunyinka commented on #2913
@dacap please assign this to me.

[2021-11-19 09:10] iamOgunyinka commented on #2957
We discussed this some weeks ago, any solution yet?

[2021-11-19 09:13] jusw85 opened #3061 "SKIA_HARFBUZZ_LIBRARY not found in CMakeLists"
Compile error, probably related to https://github.com/aseprite/aseprite/commit/3802bc39b6fdd062338702a89e1731588f523b28

[code]

I've tried with both skia m96 and m81.

These are my build flags
[code]

These are my skia build flags
[code]

### Aseprite and System version

* Aseprite version: d6339f163
* System: Arch Linux

[2021-11-19 09:21] jusw85 opened #3062 "Update install instructions for Aseprite to m96"
[INSTALL.md](https://github.com/aseprite/aseprite/blob/main/INSTALL.md#dependencies) for Aseprite
[code]

[Skia](https://github.com/aseprite/skia#building-skia)
[code]

[laf](https://github.com/aseprite/laf#dependencies)
[code]

INSTALL.md should probably be updated.

[2021-11-19 09:26] iamOgunyinka commented on #3061
The `SKIA_HARFBUZZ_LIBRARY` variable is the HARFBUZZ `.lib` file that comes with skia (usually the `skia/out/Clang/harfbuzz.lib` file).

[2021-11-19 09:37] jusw85 commented on #3061
I fixed it by updating the build flags used to build skia from [here](https://github.com/aseprite/skia#skia-on-linux).
[code]

[2021-11-19 09:37] #3061 closed

[2021-11-19 09:46] iamOgunyinka commented on #2994
Not a native English speaker and a bit new to some Aseprite terminologies, so please how do you "pan a view..."? I'm trying to reproduce this bug.

[2021-11-19 10:33] #3062 closed

[2021-11-19 10:33] dacap commented on #3062
Thanks @jusw85, I've just updated the INSTALL guide.

[2021-11-19 10:54] dacap commented on #2994
"Panning the view" is like scrolling the view (e.g. using ctrl + scroll wheel). I tried to reproduce it on macOS and Aseprite v1.3-beta7 but wasn't able (using the trackpad here). I'm not sure if it's Windows-specific or related to the mouse wheel 🤔

[2021-11-19 10:59] dacap commented on #2957
Hi Josh! Maybe you can give a try to comparing sprite ID and sprite version instead of the saved counter (the timeline will need a couple of fields `m_spriteId` and `m_spriteVersion`). I'm not sure if this will solve the problem or if it will have the same problem as the undo counter, but you can give a try.

[2021-11-19 11:53] Gasparoken commented on #2657
Thanks @dacap David. Yes, I understood the original intention of @nullbunny. Now, I think it would be better to add some `Flip Canvas` option to the `View` editor menu, instead of using the actual `Sprite > Rotate Canvas > Flip Canvas` with an alternative behavior.

[2021-11-19 15:01] behreajj commented on #2994
If this helps any: I click and hold down the middle mouse wheel, then move the mouse. The cursor turns into the hand tool. When I hold down Ctrl and scroll the wheel, the guides clipping problem doesn't happen.

The zoom level needs to be greater than 100%. At percentages less than or equal to that, the sprite canvas cannot be moved partially out of view.

[2021-11-21 15:51] hapiel opened #3063 "Index mode spray does not handle masked color as expected"
In indexed mode, when drawing with the masked color with the spray tool, on a non background layer, in "simple ink" mode, if the masked color does not have alpha 0, it either does not work or it attempts to draw another color.
See demonstration:

![aseprite](https://user-images.githubusercontent.com/4511993/142769043-a8841d44-14a1-448e-b008-292a69a69266.gif)

Spray does draw a color (the one close

[2021-11-21 15:51] hapiel commented on #3063
See also the relevant Discord discussion:

https://discord.com/channels/324979738533822464/348146938530496513/911989782501003315

[2021-11-21 18:29] Gasparoken commented on #3063
Thanks for this report @hapiel! We'll fix it.

[2021-11-21 19:29] Gasparoken commented on #2665
Hi @winterwolf, thank you for sharing your point of view. At the moment, I think this feature won't be implemented as you mention. I let this comment a couple of weeks to see if @dacap or other users have other opinion about this topic.

On the other hand, you'll be able to see [1,1] in the origin if https://github.com/aseprite/aseprite/issues/1434 is implemented sometime in the future ("...origin

[2021-11-21 19:45] Gasparoken commented on #2656
Thanks for this report @oceanhahn! I was able to reproduce it.

[2021-11-22 22:54] TheChocolateOre opened #3064 "Infinite canvas"
Useful for prototypes, mockups and even "design documents". Things that are ever expanding.

[2021-11-22 23:19] not-surt commented on #3064
Yes, please!
I love this feature in MyPaint, I find it creatively freeing.

It seems to be already mostly there as layers grow automatically when you paint outside their bounds. It's just hidden from view beyond the document bounds. So an option to not hide beyond document bounds might do it.

[2021-11-23 10:45] iamOgunyinka commented on #3018
Getting the source of this bug took quite a while but I think I know what is going on now (not a fix, more like a report on the _research_). (Please skip to the next paragraph if you're not interested in the technicalities, this is only detailed here for future reference) The problem here is that when you _activate_ the experimental "UI with multiple Window" in Preference, Aseprite uses a conceptu

[2021-11-24 17:47] Gasparoken commented on #2672
Thanks for this report @lukesutton. When you convert the Color Mode to INDEXED, the transparent color is always index 0 as default (index 0 color will have a dot in the center to make it clear that it's Transparent Color).

![Screen Shot 2021-11-22 at 09 08 33](https://user-images.githubusercontent.com/32165475/143287759-a1693259-4959-474c-93a2-07472f28c64d.png)

The color button at the bottom-lef

[2021-11-24 19:00] Gasparoken commented on #2668
Hi @oceanhahn , thanks for this report. Sorry, perhaps I not get the main idea.

Import Sprite Sheet command is useful to convert an image like:
<img width="330" alt="Screen Shot 2021-11-24 at 15 17 13" src="https://user-images.githubusercontent.com/32165475/143293745-aba5bf84-62d3-471c-9207-a96275c4549b.png">
 into an animation of one layer:
![Nov-24-2021 15-19-36](https://user-images.githubuserc

[2021-11-25 12:45] dacap commented on #2913
At the moment Aseprite doesn’t support to change the grid size when we are in a tilemap layer (and the tileset grid size cannot be changed). This is a functionality to add in the future (changing tileset grid size, and Grid Settings will be different depending if we have a tilemap selected or not). A temporal workaround would be to just disable the command or show a message about how to change the

[2021-11-25 14:02] Gasparoken commented on #2913
I see two issues here:
1) Tilemap grid size cannot modified at the moment. It'll be discussed about how the UI should work.
2) When the active layer is a tile map, the `View> Grid> Grid Settings` dialog box appears to accept changes to the grid size, but it doesn't while the active layer is a tilemap layer. Only if we change the active layer to a normal one, we realize that the changes have taken

[2021-11-25 17:30] Gasparoken commented on #2691
No problem! And thank you again!
Now I'm closing this issue. Anyway, if you find how to reproduce it, you can email us to support@aseprite.org to re-open it.

[2021-11-25 17:30] #2691 closed

[2021-11-25 17:51] Gasparoken opened #3068 "Double tap pressure bug on Windows Surface"
While Size-Pressure feature is ON, tapping twice on screen the brush will use the max size.

Reported: https://igarastudio.zendesk.com/agent/tickets/2981

* Aseprite version: 1.2.30
* System: Windows Surface Book 3

[2021-11-25 23:09] not-surt opened #3069 "[scripting] app.range.editableImages nil Cel error on drawImage"
When using drawImage on an Image object from app.range.editableImages or app.range.images the following error occurs:

Demo script (run with an image open):
[code]

Code works fine when given app.activeCel.image instead.

### Aseprite and System version

* Aseprite version: v1.3-beta7-x64, Steam
* System: Windows 10 Pro, Version 10.0.19043 Build 19043

[2021-11-26 10:44] Louis-Julien commented on #3015
The issue is preventing us from making significant progress in our current project, but we could provide help to resolve it. With  some indications from your part, one of our dev @as_csauveur could look into the issue and see if there is a solution. Would that be okay with you?

[2021-11-27 05:40] HEROshineMC opened #3072 "Photoshop-like/smooth cursor option"
### Feature Request
Hi! I wanted to make this like a year ago but didn't want to be a bother so I waited but now I really want it. 😅 I would love an extra `Crosshair Type` in `Preferences > Cursors > Pointing Cursors` (or wherever you decide to put it) called something like "Photoshop-like" or "Smooth" (I'm sure you can come up with a much more descriptive name than I can lol).

#### Here is the c

[2021-11-27 09:59] behreajj opened #3073 "Background Layer in RGB Mode Allows Alpha If Converted from Indexed"
Hi,

This is a bug report. I'm using Aseprite v1.3beta7-x64 on Windows 10.

![afterRgbConversion](https://user-images.githubusercontent.com/12038348/143675910-503e8bc8-040a-4cb1-ae5f-62be688c56d0.png)

To reproduce:
1. Create a new sprite that is set to indexed color mode.
2. Ensure that the palette contains at least one element with alpha channel less than 255.
3. Apply translucent or transparent

[2021-11-27 10:42] minhnguyenhoang opened #3074 "Trying to compile Aseprite on Ubuntu"
I tried following the all the instructions in the INSTALL.md (incl. dependencies, git cloning/source code downloading and compiling itself). I seem to pull through just fine after cmake is run, but when I use ninja, it always fail. I tried both skia-m96/skia-m81, and GCC/Clang. It never does work. This is from my most recent attempt:

$ ninja aseprite
[610/1567] Building CXX object third_p...cket.

[2021-11-27 11:12] bjorm commented on #3074
Maybe this PR of mine could help you: https://github.com/aseprite/aseprite/pull/3070
I was able to build aseprite with this approach yesterday. Not sure whether the resulting binary would run on ubuntu, I am not too familiar with C/C++ builds.

[2021-11-27 11:31] minhnguyenhoang commented on #3074
Thanks for the help. Unfortunately I do not know how to run Dockerfiles, appreciate the help anyways, it could be useful.
I downloaded 1.2.30 and skia-m81, cmake using Clang 10 and it worked. Now I'm keeping everything the same except build ver (1.3-b7) and attempting to compile it again

[2021-11-27 12:38] TetyLike3 opened #3075 "ninja unable to find children of 'SkCanvas' and other parents"
I was following a tutorial on compiling aseprite from youtube. I copied exactly as told, and while their `ninja aseprite` command worked, mine came out with `ninja: build stopped: subcommand failed.`
After a quick review, it seems as if it can't find either aseprite files or skia files. However, as told, my skia directory is `C:\deps\skia\` and my aseprite directory is the same as the build folder

[2021-11-27 14:05] Gasparoken commented on #3069
Thanks for this report. I was able to reproduce it. It's a weird bug, because sometimes it works, some time it doesn't.

[2021-11-27 17:33] Gasparoken commented on #3073
Thanks for this report. I was able to reproduce it.

[2021-11-28 15:25] automeowtion opened #3076 "cli `--frame-range` flag seems to only work for `--save-as` but not for '--sheet'"
`--frame-range` seems to only work when exporting to individual sprite images but not for exporting to sprite sheet.

* Aseprite version: 1.2.28
* System: macOS

[2021-11-29 05:45] boxdox commented on #3074
Did you find a solution @minhnguyenhoang ? I tried compiling v1.2.29 with skia m81-b607b32047, and it builds fine. Seems like there's some library incompatibility with the new version of aseprite that causes the build to fail.

[2021-11-29 10:39] SuPythony commented on #3075
Same error occurring with me

[2021-11-29 11:22] minhnguyenhoang commented on #3074
@boxdox forgot to report back actually. I managed to compile v1.3b7 right afterwards (Clang 10, m81). Seems like a problem with either GCC or skia-m96 (probably skia, as I've seen tutorials online using a precompiled skia and GCC). Thanks for the help. The devs might want to have a look at skia-m96

[2021-11-29 12:23] dacap commented on #3074
From the error log (`error: ‘SkSamplingOptions’ was not declared in this scope`), it looks like (in your first post) you tried to compile the `main` branch of Aseprite (which now requires skia m91) with skia m81. But I'm not 100% sure.

Anyway now there is a new [note in our INSTALL.md guide about GCC](https://github.com/aseprite/aseprite/blob/main/INSTALL.md#gcc-compiler):

[2021-11-29 12:44] dacap commented on #3075
We've changed the Skia branch to m91 a couple of weeks ago. So any tutorial referring to Skia m81 might be outdated. We have updated the [INSTALL.md guide](https://github.com/aseprite/aseprite/blob/main/INSTALL.md) but maybe some details might be missing.

[2021-11-29 13:58] SuPythony commented on #3075
@dacap In INSTALL.md it's written to use `m96` and I am using that version only.

[2021-11-29 20:52] SaltSouls opened #3078 "[Feature Request] Palette Swapping/Export Selection"
### [Palette Swap]
I know this has be brought up before, but I want to elaborate more on what I think will be a huge improvement to workflow for most artist, especially those that are making textures/sprites that are the same but just have different colors(palettes).
My suggestion is more of a selected palette swap as I know that Aseprite already kinda has a working feature for the entire image, b

[2021-11-29 21:42] not-surt commented on #3078
As it happens I'm working on a colour remapping extension at the moment.
It does multiple ramp-to-ramp mappings, modifying either palette or pixels and respecting selection when modifying pixels.
Hope to have an initial release by the end of the weekend.

[2021-11-29 21:57] SaltSouls commented on #3078
That sounds awesome and is exactly what I'm looking for. I was planning on looking into possibly scripting it myself, but I'm a smooth brained artist that knows very little about scripting or coding. Please let me know when you have a working version of it as I would love to test it out.

[2021-11-30 07:50] HolyBlackCat opened #3079 "Hard to navigate to dot-prefixed folders in file dialogs"
File dialogs ("open", "save as", etc) don't show `.`-prefixed directories.
It seems, the only way to enter such a directory is to type its name from memory (as the file name), and press the open/save/... button.
Would be great to have a way to toggle the visibility of such directories (e.g. a checkbox in the dialogs).

### Aseprite and System version

* Aseprite version: v1.2.30-x64, Steam
* Syste

[2021-11-30 10:18] James-Getz opened #3080 "Saving Sprite Close Prompt, Tab Focus"
When you close Aseprite and have multiple documents open.
If they are not saved, Aseprite will prompt you with
`[Warning] Saving changes to the sprite "SpriteName" before quitting?`

Problem is, it doesn't change the tab focus to the document it's asking to close.
So you can see and make sure that you want to close the document.

### Aseprite and System version

* Aseprite version: 1.3-beta7, Stea

[2021-11-30 15:06] Gasparoken commented on #3080
Thanks for this report @James-Getz. We'll fix soon.
This happens on v1.2.30 too.

[2021-11-30 15:17] Gasparoken commented on #3079
Thanks for this report. There're ways to navigate through folder tree:
- Folder level up (up 'arrow' in the dialog), and
- You can navigate in the navigation history (left /right buttons in the top-left corner of the dialog)

<img width="184" alt="Screen Shot 2021-11-30 at 12 09 26" src="https://user-images.githubusercontent.com/32165475/144074027-e972179f-6785-4a21-a35c-e7628502394c.png">

[2021-11-30 15:29] minhnguyenhoang commented on #3074
@dacap the error I took that from was skia-m96, Clang 10 and v1.3b7.
I have seen that note, hence why I purged GCC to force cmake to use Clang. Seems like it works fine on skia-m81 now.

[2021-11-30 19:48] dacap commented on #3079
@Gasparoken Just as a clarification, on Linux `.name` files/directories are hidden files, and at the moment the only way to enter to those folders are as described by @HolyBlackCat entering the name manually and pressing Enter.

This issue is related to #2223 too. We require a button to show/hide hidden files.

[2021-11-30 19:50] dacap commented on #3074
@minhnguyenhoang if you are compiling v1.3b7 you will need skia-m81, if you are compiling `main` or `beta` branches (latest commits), you will need skia-m91.

[2021-11-30 19:50] #3074 closed

[2021-11-30 20:27] not-surt opened #3081 "[scripting] Dialog:shades sort mode onlick event doesn't fire"
When a _Dialog:shades_ control has _mode="sort"_ the _onlick_ event doesn't fire when interacting with the control.
You want to drag the colours in a _shades_ control when reordering/removing so maybe _onchange_ would be more appropriate in this case.

[code]

### Aseprite and System version

* Aseprite version: v1.3-beta7-x64, Steam
* System: Windows 10 Pro, Version 10.0.19043 Build 19043

[2021-11-30 22:43] dacap commented on #3015
I'm reassigning this issue to me, in case you @Louis-Julien can check some of the code, please check:

* https://github.com/aseprite/aseprite/blob/f6ba8d9ae0e75f2ecdf33cc1c8d95ff0b40b7820/src/app/ui/color_wheel.cpp#L108
* https://github.com/aseprite/aseprite/blob/f6ba8d9ae0e75f2ecdf33cc1c8d95ff0b40b7820/src/app/ui/color_wheel.cpp#L194

[2021-12-01 03:06] kevinfaveri commented on #2451
hey @dacap tried a lot building from source or using macport and everything throws random errors one after another lol
is there a ETA for having the Macos build for Apple Silicon on the paid version? So I can organize myself to buy it when ready

[2021-12-01 06:31] ryandesign commented on #2451
@kevinfaveri It has been building fine for me on Apple Silicon in MacPorts for over a year. If it doesn't build for you in MacPorts, please [file a bug report](https://trac.macports.org/newticket) and I'll investigate.

[2021-12-01 09:15] Louis-Julien commented on #3015
Thank you, I've forwarded the links to our dev, I'll keep you in touch.

[2021-12-01 17:54] kevinfaveri commented on #2451
Done https://trac.macports.org/ticket/64103

[2021-12-01 20:20] #3052 closed

[2021-12-01 22:13] oceanhahn opened #3082 "Colour Picker Indicators Vanish When Switching From Tileset-Active Document Workspaces to Non-Tileset Workspaces."
When the Tile Picker is active (document has tiles; tile-placement mode is active; the Tile Picker has focus versus the Colour Picker), the Tile Picker indicators (the small triangles in the top-left/bottom-right corners of Colour Picker and Tile Picker swatches) do not reappear in the Colour Picker when tabbing to a document Workspace *without* tiles. The indicators do not reappear when new Colou

[2021-12-01 22:21] oceanhahn opened #3083 "Clipboard error messages appear en masse if ASEprite is running during hibernation."
If I leave ASEprite running and put my laptop into hibernation mode, I usually return to the software in a quasi-frozen state where no functions work and the window does not respond. Resizing the ASEprite window refreshes its state, revealing several dozen vertically-stacked pop-up "Error" panes as shown below. The boxes can be cleared as normal, and the software functions normally again once ever

[2021-12-02 10:35] RedCocoon opened #3084 "WebSocket not working"
The WebSocket API for scirpting as described on [the api documentation page]( https://github.com/aseprite/api/blob/main/api/websocket.md) does not appears to function.
Attached below is the extension that is 99% copied from the documentation. The message type received is always 3 (error).

[websocket-demo.zip](https://github.com/aseprite/aseprite/files/7641158/websocket-demo.zip)

### Aseprite and

[2021-12-02 10:38] dacap commented on #3084
Hi @RedCocoon, do you have a WebSocket server listening in `1.1.1.1` IP? Also you should use `http` (or at least `http` is the one I know is working).

You can find an example of the client and server here: https://github.com/lampysprites/aseprite-interprocessing-demo created by lampysprites.

[2021-12-02 11:12] RedCocoon commented on #3084
Apologize, upon further testing, it seems that my WebSocket server is just not setup correctly, I apologize for the mistake.

[2021-12-02 11:12] #3084 closed

[2021-12-03 05:20] SuperKirbylover commented on #459
want to do this: i need to mask something where the layer i work on only appears on one layer beneath it, but its super irritating to not have it as a feature, especially when trying layer effects to see how it looks on ONLY the ONE layer beneath it

[2021-12-03 08:39] cyako1999 opened #3086 "I want to ask that the version of Aseprite on steam is contain arm64 for Mac?"

[2021-12-03 11:43] dacap commented on #3086
Hi @cyako1999, not at the moment, but we're working on it #2451

Anyway I saw that Steam doesn't offer different packages between x64 and arm64 architectures (which is available on Windows for x86 vs x64), I'll have to investigate about it and maybe create an universal package (an .app bundle with both architectures) to fix that.

[2021-12-03 11:43] #3086 closed

[2021-12-03 11:47] dacap commented on #2451
Just as a side note, Steam doesn't offer different packages between x64 and arm64 architectures, and their `libsteam_api.dylib` is an [universal binary since 1.52](https://store.steampowered.com/news/?emclan=103582791433666425&emgid=2984186817523157398:

So maybe they don't have plans to make available different packages for x64 and arm64 (as they do on Windows for x86 vs x64). So the arm64 versio

[2021-12-04 02:02] not-surt commented on #3078
Posted about my extension here: https://community.aseprite.org/t/extension-recolouriser/12011

[2021-12-04 23:17] SaltSouls commented on #3078
Just give it a go, and it works wonderfully, I love it! Exactly what I was looking for and will no doubt speed up my work flow by a whole bunch, thanks!

[2021-12-05 14:41] behreajj opened #3087 "Deleting a Layer via Script Allows User to Delete All Layers in Sprite"
Hello,

This is a bug report. I was able to reproduce this in both v1.2.30 and v1.3beta-7 on Windows 10. A group layer cannot be deleted manually if as a result the sprite would contain no layers. However, with the line of code `app.activeSprite:deleteLayer(app.activeLayer)`,

![deleteAllLayers](https://user-images.githubusercontent.com/12038348/144750969-f822bcdc-10c5-4a86-85d7-9aaabe0c93df.png)

[2021-12-05 14:51] 210783jud commented on #3062
Jud

[2021-12-06 17:21] Gasparoken commented on #3087
Thanks for this report. I was able to reproduce it.

[2021-12-06 18:46] dacap commented on #3080
It looks duplicate of #2030, I'll take a look to the new PR, because I've already review a previous PR solving this but found [an issue in the past](https://github.com/aseprite/aseprite/pull/2727#issuecomment-852524240).

[2021-12-07 09:47] Skuriles commented on #3075
Same problem for me with latest Skia M96 pre-built.
BTW: in the release package Aseprite-v1.3-beta7-Source.zip, the INSTALL:md still tells you to use M81.
So the question now is what is the correct one?

[2021-12-07 11:28] dacap commented on #2030
From the two given solutions #2727 and #3089, the former one doesn't solve the issue of returning to the original document if we just click the "cross" of a non-active document to close the tab, and the latter one just works for "Close All Files". I'll looking for a solution of both cases.

[2021-12-07 18:48] #2030 closed

[2021-12-07 18:48] #3080 closed

[2021-12-08 03:48] SuPythony commented on #3075
It works with `m81`!

[2021-12-08 05:15] SuPythony commented on #3075
I again cloned the latest version of the source, and it compiles with `m96`.

[2021-12-08 05:16] SuPythony commented on #3075
So I think this issue can be closed

[2021-12-08 06:16] Skuriles commented on #3075
I can confirm, that the release bundle (1.3.7 Beta) fails with M96 and can be compiled with M81. But did not try to load latest source.

[2021-12-08 19:40] Darkcast opened #3091 "Windows 11 ninja: build stopped: subcommand failed"
Hi, I am trying to build from source in windows 11 and I am getting the following error
ninja: build stopped: subcommand failed

I am not familir with building from source so sorry in advance if I made a noob mistake,
Thank you in advance

OS: windows 11
VS Community: 2022
source: Aseprite v1.3-beta7
deps:
Skia-m96
ninja v1.10.2

cmd log is attached
[asesprite_error.txt](https://github.com/aseprit

[2021-12-09 14:28] cs-altshift commented on #3015
Thanks for the links into the codebase. I'm starting looking at this issue today.

[2021-12-10 02:05] imbut665 opened #3092 "hain11al22@gmail.com"
[[Describe](urlhani11al22@gmail.com)](url) your bug report or feature request here
...
...
...

### Aseprite and System version

* Aseprite version: version number, installer/portable/Steam/beta/dev/commit-hash
* System: Windows/macOS/Linux, version, distribution

[2021-12-10 02:05] #3092 closed

[2021-12-10 02:06] imbut665 commented on #3092
@imbut665 [](url)

[2021-12-10 07:40] not-surt opened #3093 "[scripting] Selection:select replaces selection"
In the scripting API Selection:select replaces the selected pixels rather than adds too them.
From the documentation (https://github.com/aseprite/api/blob/main/api/selection.md#selectionselect) it is described as "Selects the given rectangle" which sounds to me like it should mark the pixels in the rectangle as selected, so adding them to the selection, not replace the selected pixels.
If it's mea

[2021-12-10 11:29] iamOgunyinka commented on #3082
@Gasparoken I may have found the source of this bug, I'll explain below and link a patch that works (please review and see if the implementation is worth using as a PR).

IIRC there's only one color bar for all opened documents. When we change views, we update the color bar with the palette and tiles of the site/document. Whenever we pick a tile from the tile set in the color bar, we [change the t

[2021-12-10 12:14] iamOgunyinka commented on #3063
@Gasparoken can you assign this to me? I can look into it.

[2021-12-10 12:15] Gasparoken commented on #3082
Thank you very much @iamOgunyinka! I'll take a look today.

[2021-12-11 01:36] #3069 closed

[2021-12-11 01:37] dacap commented on #3069
Not only it might generated random results, it can crash Aseprite. Fixed for the next release v1.2.31.

[2021-12-11 18:48] Proggle commented on #3083
Also saw this bug on ASEprite v1.3-beta7-x64 on windows 10, so it's in that one too.

[2021-12-13 09:04] iamOgunyinka commented on #3063
@Gasparoken I can't reproduce this.

[2021-12-13 10:32] Gasparoken commented on #3063
It can be reproduced by doing this:
- New sprite - Indexed mode - transparent background
- Use the PaintBucket tool to paint the entire sprite green (for example)
- Select index 0 as the foreground color (it is the transparent color of this sprite)
- Select the Pencil tool and draw on the canvas: you'll see that a stroke is being drawn
- Select the Spray tool and draw on the canvas: you'll see not

[2021-12-13 23:55] qhqls07 opened #3095 "how to update complied aseprite?"
Describe your bug report or feature request here

last time, i download complied aseprite. Now, i know that aseprite is
update to 1.3v. I want to update my aseprite too.. But i don't what to do.
Can you tell me how to update my complied aseprite?
I'm sorry to my bad English. i'm Korean middle school student.
I'm not good at English TT
please tell me how to update my aseprite in detail.

### Asepri

[2021-12-14 00:17] dacap commented on #3082
Hi there @iamOgunyinka, one possible solution might be changing `ColorBar::onIsPaletteViewActive()` to ask for `canEditTiles()` if it's in tiles mode (`m_tilemapMode == TilemapMode::Tiles`). So the palette view is active if we cannot edit tiles (i.e. we are not in a tilemap layer).

[2021-12-14 00:20] dacap commented on #3093
Hi @not-surt, thanks for reporting this. Actually the expected behavior of `:select()` is to replace the whole selection, you can use `:add()` method to add (there is `:subtract()` and `:intersect()` too).

The main issue I guess is that those are undocumented methods. I'll add this information in https://github.com/aseprite/api/blob/main/api/selection.md ASAP

[2021-12-14 12:38] Gasparoken commented on #2907
Other crash on set_native_cursor_on_all_displays

[code]
[code]

Aseprite version: 1.3-beta7-x64
System: Windows
Reported on https://igarastudio.zendesk.com/agent/tickets/3028

[2021-12-14 15:56] Gasparoken opened #3097 "Crash on resetTransformation()"
Crash on resetTransformation() function, aparently while selecting with Marquee Tool on mouse up (similar Call Stack doing this).

[code]

[code]

### Aseprite and System version

* Aseprite version: 1.3-beta7 x64
* System: Windows
* Reported on ticket: https://igarastudio.zendesk.com/agent/tickets/3029

[2021-12-14 16:17] Gasparoken commented on #3068
@dacap , did you see something similar on Surface devices in the past?

[2021-12-14 17:08] #3093 closed

[2021-12-14 23:14] kodnin opened #3098 "Close color presets popup after loading"
After loading a color preset from the popup and clicking the load button the popup should close. It feels like bad UX to have to click outside the popup in order to close it. I guess the same should happen for double clicking a preset in the popup. Load and close.

[2021-12-15 08:10] iamOgunyinka commented on #3095
Hello, @qhqls07! There are two separate but related builds of Aseprite -- the `main` and the `beta`. The `main`, as at the time of writing this comment, is in version 1.2.30 and the `beta` is in 1.3-beta7. The `beta` is the public version of Aseprite where we implement tons of features and look for people's feedback on the features. If I remember correctly, you may upgrade your `main` to the lates

[2021-12-15 12:20] Omar-Abdul-Aziz commented on #3091
compile the beta using skia-m81

[2021-12-15 18:08] #3073 closed

[2021-12-15 20:18] dacap commented on #545
Some related issues: #1213 and #3073

[2021-12-16 04:15] Ebunix opened #3099 "`{frame}` on format doesn't output global frame value"
When using `{frame}` together with `--filename-format` it will output the same as `{tagframe}`. It will not use the global frame number like it is supposed to.
This has been encountered while running the CLI: `aseprite -b --filename-format "{tag} {frame}" --layer "color" --split-tags --list-tags --list-layers --sheet-pack --trim --sheet "output.png" "input.ase"`

### Aseprite and System version

*

[2021-12-16 20:47] jestarray commented on #3075
I tried compiling with BOTH m81 and m96 using the latest source:
[code]
and I get the same error:
[code]

[2021-12-16 21:27] jestarray opened #3101 "Aseprite CLI not exporting layer in --file-format"
[code]

Replace <test> with the name of your ase file and the generated json does not contain the layer name:
[code]

Interestingly this does work in the UI, just not the CLI. Someone tested this using the latest Aseprite 1.3 beta 7.

[2021-12-17 05:43] jestarray commented on #3101
Just confirmed it for myself, 1.3 beta 7 on Windows 10

[2021-12-20 18:36] Gasparoken opened #3103 "Crash around PixelsMovement::dropImage() function"
Crash report:

Code portion where the program crashed (crash inside vector class), 1st row on Call Stack
[code]
Code portion 4th row of Call Stack (Aseprite.exe!app::Transaction::commit() )
[code]
I cannot reproduce it. Even, it's weird because the line:

`Palette* pal = m_doc->sprite()->palette(sprPos.frame())`

It's only executed if `m_changes == Changes::kColorChange`, but, according to the cal

[2021-12-20 19:09] Gasparoken opened #3104 "Crash on fillRect() function"
Describe your bug report or feature request here
...
...
...

### Aseprite and System version

* Aseprite version: version number, installer/portable/Steam/beta/dev/commit-hash
* System: Windows/macOS/Linux, version, distribution

[2021-12-20 19:11] #3104 closed

[2021-12-20 19:26] Gasparoken opened #3105 "Crash in std::copy() inside of fillRect() function"
Crash in `image_impl.h`, inside of` std::copy()` at `fillRect()` function:
[code]

Call Stack:
[code]

### Aseprite and System version

* Aseprite version: v1.2.30
* System: Windows
* Reported on ticket: https://igarastudio.zendesk.com/agent/tickets/3030

[2021-12-20 21:16] #3075 closed

[2021-12-20 21:30] Gasparoken opened #3106 "Crash report associated to mfc140u.dll"
This crash report is just for the record.

This crash was reported on ticket https://igarastudio.zendesk.com/agent/tickets/2957
And it happened when the laptop woke up from sleep mode.

DMP result:
`Unhandled exception at 0x00007FFEA60C0FF2 (mfc140u.dll) in Aseprite-crash-1.2.30-x64.dmp: 0xC0000005: Access violation reading location 0x0000017871025A68.`

But Aseprite don't use the mfc140u.dll. It

[2021-12-20 21:30] #3106 closed

[2021-12-21 00:34] dacap commented on #2451
Next version will include an universal binary with both (x86_64 + arm64) versions in the .app bundle.

[2021-12-21 11:24] PacaPop commented on #3101
Same issue here! The {layer} tag is not exported when you select "Visible layers" or "Selected layers" in the "Layers" selector. If you select a specific layer, the layer tag works OK. But you lose the functionality to export multiple layers in the same spritesheet
![Captura de pantalla de 2021-12-21 08-22-48](https://user-images.githubusercontent.com/95740543/146922298-9be334b9-1261-4ac4-b565-a3d

[2021-12-21 21:47] Gasparoken commented on #131
We must consider that multiple options are possible on file/s Drag and Drop action:

1. Open each individual image file/s as separate sprite/s
2. Open image file/s as layers in a new sprite
3. Open image file/s as frames in a new sprite
4. Add image file/s as new Layers in current sprite (in a desired frame)
5. Add image file/s as new Frames in current sprite (in a desired layer)

It would be very

[2021-12-22 12:06] dacap commented on #131
Hi @Gasparoken, that's right! I had a similar idea, but never liked the dialog for all cases, and I never thought about a dialog only for ambiguous regions, I think it's a nice solution for certain cases (the dialog should have a "don't show again" or something like that). Other possibility I was thinking was a combination with #2324

My original idea included the tabs area to drop the external fi

[2021-12-22 12:45] Gasparoken commented on #131
Interesting! I thought this only for single images.

For animations..., I think as first version of this feature, an animation dropped in a sprite should be allocated in a particular layer as a Flatten Visible animation.

And going further, It would be a super feature if that flatten copy isn't a copy, but an instance of the original file....yes, this can be take some time 😄 (even idk the deep cod

[2021-12-22 14:37] Gasparoken opened #3107 "Performance drops when a large quantity of 'Undo' action has been performed"
Performance drops was observed on MacOS, proportional to the quantity of 'Undo' action has been performed (It is perceived from approximately 500 Undos by keyboard).
The same case was tested on Windows and performance remains high.

This was tested only in 1.3-beta7 version. Later I'll test in 1.2.30.

### Aseprite and System version

* Aseprite version: v1.3-beta7
* System: MacOS
* Reported on ti

[2021-12-22 17:01] Gawidev commented on #2524
This would be really nice, would make tileset creation more flexible.
If it's done an option for culling the outside gap would be nice too.

[2021-12-23 09:04] chrisk-7777 opened #3108 "Constant UI tearing on 1.2.30 and 1.3.beta7 (Humble bundle installer)"
This has only started recently occurring, but the UI is frequently “tearing” whenever I move my mouse, making it pretty hard to work. For the last few years everything has been running smooth as silk.

It almost “ripples” across the screen - quite nauseating. Almost like trying to draw while on a moving boat.

I’ve found similar topics about scaling, but adjusting that didn’t help.

See screenshot

[2021-12-23 09:13] chrisk-7777 commented on #3108
A quick recording to show as I move the mouse. It also happens on the main canvas as well, but its not showing that in this video - look at the frames / preview area:

Thanks!

If this is a regression, is it possible to download a previous version via Humble Bundle until it can be addressed?

https://user-images.githubusercontent.com/55621012/147217287-1da0afe3-efcb-4d1b-938e-6549fc395cdd.mp4

[2021-12-23 10:50] #3108 closed

[2021-12-23 14:18] Gasparoken commented on #2961
Same issue as #3082. It was solved via https://github.com/aseprite/aseprite/commit/539e115b7dbdd080e65b33aa099572bc4c14d4c6.

[2021-12-23 14:19] #2961 closed

[2021-12-23 15:08] Tickmax commented on #2093
Hi! A dual-license like that would probably fit the author's needs as well. With some tweaking as the OP has mentioned. Maybe extend it to 24 months (the time-delay) to keep some of the latest features with the current licensing?

[2021-12-23 15:54] Gasparoken commented on #1385
@rdchris Could you share a sample file? I think, we search for the best fit (in an Euclidian color space way), not the first fit (i.e. under a tolerance).
At the moment, is a known issue we need to include a different way to calculate the color distances to improve color quantization (related to https://github.com/aseprite/aseprite/issues/2787)

[2021-12-24 00:12] dacap opened #3109 "Steam installation on Linux doesn't list Aseprite as an installed app (?)"
I didn't reproduce it yet on Linux, but it's highly probable (we should copy the .desktop file?).

Reported in: https://igarastudio.zendesk.com/agent/tickets/3051

[2021-12-24 13:49] Gasparoken commented on #3001
I found this happens only when the canvas size (in pixels) isn't a multiple of tilemap grid size (in pixels). For example:
- Canvas size = 5x5
- Tilemap grid size = 2x2
- 2.5 tiles on X axis can fit on the canvas size, and same happens on Y axis.

[2021-12-25 08:00] monodevx commented on #589
Error: In file included from /home/mono/aseprite/third_party/IXWebSocket/ixwebsocket/IXWebSocket.cpp:11
So many errors
I tried to resolve

[2021-12-27 10:06] QuinntonCarter commented on #2440
I'm also running into this issue while trying to compile. I'm not sure how to fix it as I can't find any pointers upon Google searching the error message.

[2021-12-27 13:11] Gasparoken commented on #3001
Note for the new reader:
- Tiled mode: drawing mode to get a tile pattern.
- Tilemap layer: a layer which you can draw with tiles and you can even work on individual tiles at pixel level.

We need to agree on what the expected behavior will be.
In the previous case: 5x5 canvas size and 2x2 tilemap grid size a tiled mode in both axis results in:
![Sprite-0004](https://user-images.githubusercontent.

[2021-12-27 14:57] xranby commented on #2835
@dacap i have compiled the current master and beta branch that i have tested and work well on Raspberry Pi 2, 3, 4 and 400
using the skia backend compiled for 32bit linux armhf (armv7). Would you like to publish the builds?
https://community.aseprite.org/t/raspberry-pi-version/7419/4

[2021-12-27 17:12] dbechrd commented on #2913
It would be nice to have a second grid layer purely as a visual guide when editing a tilemap layer. E.g. when editing a 32x32 tile I want to display a 16x16 grid only to easily find the middle of tiles when making symmetrical art.

[2021-12-28 12:39] rekcah1986 opened #3110 "How to get the "Secondary Texture" from Sprite Editor"
![image](https://user-images.githubusercontent.com/3055444/147567109-b05290c8-e06f-421f-bcaa-4143fcbd9878.png)

[2021-12-28 12:43] rekcah1986 commented on #3110
I want to get the normal texture without the material properties.
Thanks every one.

[2021-12-28 13:25] Gasparoken commented on #3110
Hi @rekcah1986. Sorry, I didn't get the requirement for Aseprite. I'll need more info.

[2021-12-28 15:49] Gasparoken commented on #3076
Hi @automeowtion. Yes, at the moment isn't consider --frame-range, nor --layer in the DocExporter class. We'll include this feature in the future.
Anyway this process can be done in two steps:
For example:
[code]

[2021-12-28 17:17] ChatBotMatt opened #3111 "Frame duration does not set properly for multiple frames"
When setting the duration of multple frames, it is only applied to the first and last frame selected.

### Steps to reproduce

1. Create multiple frames
2. Select multiple frames
3. Right click, Frame Properties
4. Verify that multiple frame numbers are shown ( e.g. "[1 ... 12]" )
4. Set a duration different to the current value
5. Check the duration of the first frame, which should be the new val

[2021-12-28 17:48] #2451 closed

[2021-12-28 17:48] #2857 closed

[2021-12-28 18:22] dacap opened #3112 "Test that the crashpad handler is working (uploading crash reports) on all platforms"
Test that the Sentry crash handler is working on all platform before the release of the next version.

[2021-12-29 02:14] rekcah1986 commented on #3110
https://www.gamedeveloper.com/design/how-to-create-2d-glow-effects-in-unity
The example in the shader graph (a little long, please locate to "secondary textures"), I want the same effect.

[2021-12-29 09:47] iamOgunyinka commented on #2809
One (unusual) behavior I have noticed is that if you switched from language `A` to language `B` at runtime, then go to the Keyboard Shortcuts window, the `Commands` subsection of the new window will contain mixture of words from language `A` and language `B`.

For example, if your last language before opening Aseprite is Dutch, then you switch from Dutch to English. Pressing `Shift` + `Ctrl` + `Al

[2021-12-29 21:25] ru2saig commented on #2880
I had the same issue, but on Debian Sid.
I was able to fix it by compiling skia-m96 from source, rather than use the provided Release packages.
( used 02de9be commit of Aseprite, and skia-m96, latest commit).

[2021-12-30 12:47] Cellinnek opened #3113 "ninja error on pop!_os 21.10"
Got this error while compiling with ninja:
https://pastebin.com/AZdBxggj
Also got some errors with cmake:
[CMakeError.log](https://github.com/aseprite/aseprite/files/7792963/CMakeError.log)
* Aseprite version: 1.3-beta7
* System: pop!_os 21.10

[2021-12-30 18:46] heitor-ps commented on #3028
subprocess.CalledProcessError: Command '['/usr/bin/python2', 'bin/fetch-gn']' returned non-zero exit status 1

First of all I'm running Ubuntu 20.04 and the build process used Python 2.7.18. Now for the problem:

It looks like a problem with a python module. Try using a different version of python2.

I suggest you to configure the python command like in this tutorial https://linuxconfig.org/ubuntu

[2021-12-30 19:04] Gasparoken commented on #1426
Same issue as https://github.com/aseprite/aseprite/issues/2695.

[2021-12-30 19:04] #1426 closed

[2021-12-31 16:20] ChatBotMatt commented on #3111
Having looked into it more, it does work when you select multiple frames, but not if you do so by clicking and dragging (such that a gold box surrounds them). Instead, you need to shift-click each one.

Removing this ambiguity in multi-selecting (what's the difference?) or applying it in both cases would work well.

[2021-12-31 16:51] ISSOtm commented on #2843
Please do not remove the `USE_SHARED_` flags. Yes, they can cause incompatibilities, but this is an usual part of the build process; statically linking everything is a good enough default for users not savvy enough to recognize them, but more "advanced" users know what they are doing, and prefer the option to be available.

I am currently personally having an issue with the bundled `libwebp`, for

[2022-01-02 22:01] henrikkudesu commented on #2065
Thank you so much. Such a silly and old problem and still in 2022 has not been solved :(

[2022-01-03 04:09] aasierra commented on #2083
If anyone is curious, I fixed this by adding to the root .gn file `script_executable = "python2"`

[2022-01-03 13:10] dacap commented on #2065
Some performance fixes related to the default cursor (on sprite) where added since v1.2.28 (Jul 2021) but I'm not sure if this solve some performance issues on Linux (Linux is the most problematic platform because it depends on each distribution):

* https://www.aseprite.org/release-notes/12/#aseprite-v1-2-28
* https://github.com/aseprite/aseprite/issues/2713#issuecomment-877187329
* https://githu

[2022-01-03 19:56] #2695 closed

[2022-01-04 12:51] Gasparoken opened #3116 "Add automatic layer conversion when 'copy/paste' from indexed sprite to RGBA sprite"
Add an automatic image layer conversion when pasting a layer on sprite 'B' (Color Mode: RGBA), which layer was copied from sprite 'A' (Color Mode: Indexed).
Right now, it's needed an intermediate step to achieve this :

1. Convert the sprite 'A' (Color Mode: Indexed) to RGBA
2. Copy the layer from 'A' and paste it to sprite 'B' (Color Mode: RGBA)

Note: the conversion is done for cels, but not for

[2022-01-05 01:38] nasralli-shamseddine opened #3117 "Stuck at "Detecting CXX compile features - done""
Describe your bug report or feature request here
cmake is stuck on "Detecting CXX compile features - done" both on terminal and GUI
I'm on macos 12.0.1 intel

### Aseprite and System version

* Aseprite version: version number, installer/portable/Steam/beta/dev/commit-hash
* System: Windows/macOS/Linux, version, distribution

[2022-01-05 09:46] hollunder commented on #2065
For me these problems seem to be gone meanwhile, but I have yet to determine whether it is due to Aseprite changes or changes on my system.

#### System
I now run Sway (Wayland), which is similar to i3 (X11), which I had used before, but obviously rather different in terms of underlying tech. Aseprite seems to be running through XWayland, so the X11 compatibility layer, rather than natively on Way

[2022-01-05 15:46] dacap commented on #2777
Closed with https://github.com/aseprite/laf-beta/commit/55f04ba7b04e2b75c6022913792c93ec334fe68e

[2022-01-05 15:46] dacap commented on #2777
Closed with https://github.com/aseprite/laf/commit/55f04ba7b04e2b75c6022913792c93ec334fe68e

[2022-01-05 18:33] #1410 closed

[2022-01-06 01:24] dacap commented on #2920
I wasn't able to reproduce this yet with exact steps, but I froze KDE Plasma once.

[2022-01-06 13:21] dacap opened #3118 "Fix _NET_WORKAREA to get given screen workarea"
This should be a fix for [this issue](https://community.aseprite.org/t/new-windows-are-overly-large-linux-aseprite-1-3-beta1-4/9627/4?u=dacap), the details are quoted here:

This issue was previously an item of #2777

[2022-01-06 13:23] #2777 closed

[2022-01-06 19:44] dacap opened #3119 "Performance issues on Linux"
There are several issues reported about Linux performance issues which we think are related to a high throughput of the mouse movement events.

We've a probable fix for all these issues in the next version. An incomplete list of issues we've found:

- [ ] #76
- [ ] #283
- [ ] #1021
- [ ] #1212 (?), maybe fixed with v1.3 and multiple windows)
- [ ] #1297
- [ ] #1984
- [ ] #2065
- [ ] #2089
- [ ] #2

[2022-01-07 21:11] miriti opened #3120 "[File format specs] Tileset Chunk: 14 reserved bytes according to specs but it's actually 16?"
According to ase file specs (https://github.com/aseprite/aseprite/blob/main/docs/ase-file-specs.md#tileset-chunk-0x2023) there should be 14 reserved bytes but looks like it's actually 16?

I tried to parse the data but compressed data length gave me some insane numbers so I dumped the chunk's data and tried to analyse it.

![image](https://user-images.githubusercontent.com/1500502/148607440-16be6f

[2022-01-08 11:49] #3110 closed

[2022-01-08 13:20] miriti commented on #3120
Sorry, nvm, my mistake:
base index and string length are 2 bytes each thus everything fits perfectly.
Should have slept before posting 😞

[2022-01-08 13:20] #3120 closed

[2022-01-10 12:50] dacap opened #3121 "Add support for QOI format"
Add support to save/load .qoi files.

There are some other approach for faster file format (e.g. [fpng](https://github.com/richgel999/fpng)) which we might want to look before the .qoi format.

Possible library to use:
* https://github.com/phoboslab/qoi

Requested for first time in ticket 3109:
* https://igarastudio.zendesk.com/agent/tickets/3109

[2022-01-10 17:39] behreajj opened #3122 "Creating Slice On Later Frame Then Saving File Leads to "Unsupported chunk" warning."
Hello,

This is a bug report.
I encountered the bug when using Aseprite v1.3-beta7-x64 on Windows 10.

Here are the steps I took. I included some observations; many may not be relevant.
1. Open a new sprite with a transparent background, RGB color mode.
2. Add new frames via the '+' button in the bottom right corner.
3. Observe that, given a discontinuous layer, the intersection of the layer and f

[2022-01-10 19:58] dacap opened #3123 "Broken .aseprite file can cause an infinite loop"
In some cases, if the compressed data is broken, it can cause an infinite loop [here](https://github.com/aseprite/aseprite/blob/06cfbd794e41a4a8947b1eb299c294e8bb46ff9b/src/dio/aseprite_decoder.cpp#L563) if we cannot load more bytes from the file (`bytes_read == 0`).

Reported here: https://igarastudio.zendesk.com/agent/tickets/3111

[2022-01-10 20:01] #3123 closed

[2022-01-11 12:45] Gasparoken opened #3124 "Finder 'Recent' folder doesn't show Aseprite saved files"
It's only happens onMacOS (Windows it's fine). Linux: must be tested.

### Aseprite and System version

* Aseprite version: 1.2.30 and 1.3beta7
* System: MacOS

[2022-01-11 14:22] #3018 closed

[2022-01-12 07:51] nmdonaldson opened #3125 "Dynamics pen pressure not working on Linux with XP-PEN drawing tablet"
## Issue

The dynamics settings became unable to detect my tablet's pen pressure after switching from Windows 10 to Linux. It works fine in other art programs like Krita, and in Windows before I switched. This is with the pentablet driver straight from XP-Pen on both OSes. Using the wacom driver as a last resort didn't help; neither did trying various versions of Proton.

However, I discovered a w

[2022-01-12 10:24] dacap commented on #3125
Hi @nmdonaldson, I was going to release a new version just today (I've already the packages compiled/ready), but this fix is so simple that I might be able to sneak it around in v1.2.31 and v1.3-beta8.

[2022-01-12 11:15] #3125 closed

[2022-01-12 13:29] #3082 closed

[2022-01-12 19:57] not-surt commented on #2089
This seems to be fixed for me in v1.3-beta8.

[2022-01-12 20:45] behreajj opened #3126 "Small Difference in Origin & Dest Point of Radial Gradient Lead to Line of Transparent Pixels"
Hello,

This is a bug report. I tested it in version 1.2.31-x64 for Windows 10.

To reproduce:
1. Open a new sprite.
2. Select two different, non-transparent colors as foreground and background.
3. Select the gradient tool.
4. Select radial gradient in top bar.
5. Select an origin pixel (ox, oy).
6. Select a destination pixel that 1 less than the origin on either axis, (ox-1, oy) or (ox, oy-1).
7.

[2022-01-12 22:18] merwok commented on #2905
#1410 is fixed!

[2022-01-12 22:24] merwok commented on #2857
Can I ask if this is opt-in?
Sending data to a third party without consent would be unexpected.

I have looked at the config file and not found anything (I did find some update check settings, which is also an unexpected practice outside of windows).

[2022-01-12 22:27] dacap commented on #2857
It's opt-in, when a crash is detected Aseprite will ask to share the information:

<img width="975" alt="Screen Shot 2022-01-12 at 19 26 48" src="https://user-images.githubusercontent.com/39654/149232867-98d8590d-d6bf-4615-b874-7bd793713158.png">

It can be enabled (and then disabled) from Preferences too:

<img width="817" alt="Screen Shot 2022-01-12 at 19 26 56" src="https://user-images.githubus

[2022-01-12 22:33] thomasgoldstein commented on #2428
I'm seeing a quite unsettling behavior which is most likely linked to the one described here, so I'm sharing this here instead of creating a new issue. It's not just that you can edit hidden layers, it's also the fact moving a selection on a hidden layer results is completely deleting the whole selection, somehow.

Example:
- Have a layer which contains graphics
- Hide that layer
- Create a big se

[2022-01-12 22:40] dacap commented on #2428
I thought this bug was fixed, but it looks like it's still present when the active layer is the hidden one. Thanks for reporting @thomasgoldstein

[2022-01-12 22:53] merwok commented on #2857
Great, thanks for the reply (and all the work on the program!)

[2022-01-13 09:10] hollunder commented on #2065
I just tested again, this time on i3/X11.
Both 1.30 built via AUR and 1.31 from Steam behaved the same.
Same operations as before. What was of note is that
1. Moving the 1:1 window showed noticeable tearing artifacts on that Window
2. Was OK.
3. Was OK.
4. Resizing the main window behaved very similar, but it took longer until after the black rendering the window contents showed again.

What that

[2022-01-13 16:08] dacap commented on #2089
Thanks @not-surt and @dpacbach to give it a try to the fix.

I'll close it but we can continue commenting and we can re-open the issue if needed.

The solution was given by [this patch](https://github.com/aseprite/aseprite/commit/26c1a94b833c2e0b56ea6300f8b14e14ada58c62), basically "grouping" several mouse movement events in just one, i.e. do not process mouse movement immediately but [wait 5 mill

[2022-01-13 16:13] dpacbach commented on #2089
@dacap Thanks for the explanation, glad that we finally have a fix.

[2022-01-13 16:13] #2089 closed

[2022-01-14 02:09] RCastroAB opened #3127 "Outline and convolution matrix tools create square border when transparent color index isn't 0"
Describe your bug report or feature request here
if a indexed Sprite uses a transparency index different from 0, the convolution and outline tools will create their respective effects in a border around the detected shapes.

Steps to reproduce: Create a new sprite, change the transparent index to any value, erase the old transparent color from the canvas, the make a couple squiggly lines and use t

[2022-01-14 03:21] WarpOverload opened #3128 "ninja: fatal: CreateProcess: %1 is not a valid Win32 application.l.dir\libcurl.rc.res"
While compiling aseprite, ninja threw this error at me:
ninja: fatal: CreateProcess: %1 is not a valid Win32 application.l.dir\libcurl.rc.res

I truly do not know how to describe it, lol.
If anyone could help me with this, that would be great!

Aseprite version: Aseprite v1.2.30
System: Windows 10, version 21H1

[2022-01-14 03:30] WarpOverload commented on #3128
how do i add a label LOL

[2022-01-14 11:52] iamOgunyinka commented on #3122
@Gasparoken can you please access the severity of this? I tested and confirmed this.

[2022-01-14 12:33] Gasparoken commented on #3122
Thank you for this report! I was able to reproduce it.

[2022-01-14 13:52] dacap commented on #2611
Related #1305

[2022-01-14 14:00] #3095 closed

[2022-01-14 14:09] dacap opened #3130 "User data with multiple lines"
https://community.aseprite.org/t/userdata-enhancements/4831/1

[2022-01-14 14:09] dacap opened #3131 "Textbox UI logic"
There are some features that require the same logic for multiline text editing/navigation:

- [x] #28
- [x] #3130
- [ ] #1967

It includes a similar logic to `ui::Entry` but for multiple lines (a text editor for multiple lines, vertical navigation with Up/Down).

[2022-01-14 14:19] dacap commented on #3111
Hi @ChatBotMatt, known issue. Actually it works in this way by design. There are plans to avoid the confusing behavior: https://github.com/aseprite/aseprite/issues/1498

[2022-01-14 14:41] sentry-io[bot] opened #3132 "Crash closing a menubox with scrollbars"
Sentry Issue: [ASEPRITE-M](https://sentry.io/organizations/igara-studio/issues/2927846478/?referrer=github_integration)

Only in `beta` version with multiple UI windows.

[code]

[2022-01-14 14:47] dacap opened #3133 "Crash showing Preferences dialog without multiple windows enabled"
If we disable the multiple windows option, and try to show the Preferences window in a tiny window, the program crashes (it doesn't happen on `main`).

[2022-01-14 16:44] ChatBotMatt commented on #3111
Good to hear, thanks!

[2022-01-14 17:36] dacap commented on #3112
At least we've already received reports from Windows (#3132), the macOS version should be working too (tested in dev versions, but we didn't receive a crash yet from an user). And the Linux version is disabled as we've to find a cross-distro solution to support SSL with libcurl (one possibility would be to [load OpenSSL dynamically](https://github.com/curl/curl/discussions/8224), but it might have

[2022-01-14 17:37] dacap commented on #3112
At least we've already received reports from Windows (#3132), the macOS version should be working too (tested in dev versions, but we didn't receive a crash yet from an user). And the Linux version is disabled as we've to find a cross-distro solution to support SSL with libcurl (one possibility would be to [load OpenSSL dynamically](https://github.com/curl/curl/discussions/8224), but it might have

[2022-01-14 18:13] #3133 closed

[2022-01-14 18:13] #3132 closed

[2022-01-14 22:18] Gasparoken opened #3134 "Remember the selected color/tile by sprite"
If your workflow includes drawing between two or more Sprites, it would be good to remember the last color/tile (primary and secondary colors) used when you go into other sprite.

From my point of view, this is a low priority, because I don't imagine that this workflow can be popular. If you think this could a useful feature, please give impressions and comments to raise the priority.

[2022-01-16 03:24] Anuken commented on #3134
Personally, I frequently open other images to quickly pick their colors and use them in my main image, so Aseprite "remembering" the main image's color instead of using the latest one I picked would be incredibly annoying.

[2022-01-16 11:02] Gasparoken commented on #3134
I think, this option should be optional in _Edit > Preferences... > Editor_ to cover both behaviors.

[2022-01-16 12:40] dacap commented on #3134
Just in case if someone wants to experiment with this, I guess it could be implemented with a Lua script and the new app.events API: https://github.com/aseprite/api/blob/main/api/app.md#appevents

[2022-01-16 16:01] behreajj commented on #3134
Hello,

I'd have to hear more detail on a proposed change. At first, I thought this was about colors indexed in the palette and the white/black corner pips. If we're talking more about the fore- and background colors below, the behavior I'd want would depend on whether I select a color by index or other (RGB, HSV, HSL, gray).

![pictureInPicture](https://user-images.githubusercontent.com/12038348/

[2022-01-17 13:12] dacap commented on #3122
Adding some information requested by @iamOgunyinka:

1. There are 3 concepts: slices (`doc::Slices`), a slice (`doc::Slice`), and slice key (`doc::SliceKey`). Each slice has several keys, the idea is that keys (`doc::SliceKey`) are useful to move the slice (`doc::Slice`) through the animation, but each slice (`doc::Slice`) is independent from other slices (you can get several slices for each frame

[2022-01-17 14:51] #2957 closed

[2022-01-17 14:55] iamOgunyinka commented on #2571
There are a few things worth mentioning here, so I would list them, in no particular order. The overall idea is that when you make and apply changes to the UI/Screen scaling from the preference/option window, all elements on the screen from the preference window itself to the menu (bar) down to the minutest element reflects the change (including resizing the window to make room or shrink to fit) w

[2022-01-17 18:54] dacap commented on #3116
I was looking in my personal PLAN/TO-DO txt, and there are several issues related to this with several ideas (generally the automatic conversion could be done when copying/pasting between files/clipboard and exporting to a file format that doesn't support the current format):

- [ ] #830 ([comment](https://github.com/aseprite/aseprite/issues/830#issuecomment-147796686))
- [ ] #1007
- [ ] #1343
- [

[2022-01-18 04:40] Anuken commented on #3125
I have the same issue, except my tablet device (Huion Kamvas Pro 16) doesn't even have the word "stylus" in it:

![image](https://user-images.githubusercontent.com/10100000/149871910-41854089-accc-4c00-b77b-81b1308b093e.png)

This may be related to the fact that I'm using a strange driver. Adding in ` || std::strstr(devName.c_str(), " pen")` fixes the problem, although I'm not sure if checking for

[2022-01-18 10:43] Gasparoken opened #3135 "Add warning to script functions with the format 'object:<function>(<some obj member>)'"
The following functions don't take into account whether the argument object belongs to the parent object to which the function is applied:

 - [x] sprite:**deleteLayer**(layer) #3137
 - [x] sprite:**deleteCel**(layer, frame) #3138
 - [x] sprite:**deleteSlice**(slice) (it even crashes) #3139
 - [x] sprite:**deleteTag**(tag) (unexpected behavior) #3140

* Aseprite version: 1.2.32-x64
* System: MacOS

[2022-01-18 18:30] secv opened #3136 "Photoshop Style Level Adjustment Window"
I sometimes get numerical level adjustment feedback from clients who are using Photoshop. I can't input that feedback into Aseprite due to a lack of numerical input level adjustment similar to what is available in Photoshop. (See [this link on the Adobe site](https://helpx.adobe.com/photoshop/using/levels-adjustment.html))

The addition of a basic level adjustment window would fix this issue. By b

[2022-01-19 20:44] worellana commented on #2943
Hello, I am also getting the same error.

**Aseprite and System version**

- Aseprite version: 9e23d31
- System: Windows 11 64-bit
- Cmake: 3.22.1
- Ninja: 1.10.2

[2022-01-20 18:36] Gasparoken opened #3142 "Slices abnormal behavior"
Note: All of these issues will be obsolete the day we implement Slice objects in the same way that Cel objects were implemented (implementation of #721). So the priority of this is related to how far we are from completing #721 (ask to @dacap before start with this). Next issues can be solved implementing #721: #2285, #1469.

- [ ] The undo command doesn’t delete the m_keys elements, it just resiz

[2022-01-20 20:30] Euphrasiologist commented on #909
Don't know if this will help anyone else, but this (above comment) helped me when running:

`cargo build --release`

on the tectonic rust crate (v0.8.0) :)

[2022-01-20 21:01] tony commented on #909
General note to anyone who comes across this thread (e.g. via search): feel free to make a new issue if you have a report to make as well.

[2022-01-20 21:01] tony commented on #909
@Euphrasiologist I'm perplexed as to where rust / tectonic is connected to aseprite? (Was this meant for another thread?)

[2022-01-21 00:17] BackupToaster opened #3143 "Alt clicking(EYEDROPPER) after selecting then moving something with arrow keys, moved the selection instead of selecting the color"
Describe your bug report or feature request here:

Pretty much what it says in the title, I don't know if this is maybe some feature I am unaware of how to use or an actually bug so here I am. Order of operations > working on a file with enabled 18x18 grid, doubleclicking a gridspace to select it, moving it with shift+arrowkey to the right, then trying to use the eyedropper tool on it, moves the t

[2022-01-21 11:58] iamOgunyinka commented on #3101
After some checks here and there, I realize Aseprite's CLI parser is actually sensitive to arguments' position (in this context). If you move the filename `<test>.ase` file to the end of the argument list, you'll see your command work.

`aseprite --data <test>.json --format json-array --sheet <test>.png --split-layers --ignore-empty --shape-padding 1 --trim --filename-format "{layer}-{frame}" --ba

[2022-01-21 12:09] Gasparoken commented on #3143
Thanks @BackupToaster for this report. I was able to reproduce it. Even with less steps:
. Do a selection with Marquee tool.
. Move the selection with the keyboard arrow 1px (to anywhere)
. Select Eyedropper tool (with Alt key or the tool)
. With the Eyedropper active, click where you want.
Result: The selection will move to other location every time we click on the canvas.

[2022-01-21 12:48] m-colombo opened #3144 "Multiple tileset layers selection move is broken"
Hi all 👋

I just found out that moving a selection in tileset mode having multiple tileset layers selected leads to loss of information. Only the last selected layers is moved, all the others are cleared (in the selection).

See an example here:
![Screen Recording 2022-01-21 at 13 38 42](https://user-images.githubusercontent.com/8291084/150528757-379bdd60-67da-4a89-83a6-a2e73e658805.gif)

### Asep

[2022-01-21 12:56] Gasparoken commented on #3144
Thanks for this report @m-colombo. I was able to reproduce it.

[2022-01-21 18:03] Adithr123 opened #3145 "Is there any way that this could be run on the web without downloads?"
Plz?

[2022-01-21 19:07] Likenttt opened #3146 "Just to share my experience for some compilation issues on mac m1"
Describe your bug report or feature request here
## Problems I emcountered on my m1
I encountered some problems on my mac m1 when compiling aseprite.
1. Cannot find c++ compiler.  I tried to install clang++ with xcode-select and the installation succeeded. But the target place was not /usr/bin/c++, you can check it with command `which clang++`. So I used `-DCMAKE_CXX_COMPILER=/usr/local/bin/c++` t

[2022-01-22 19:15] benpm opened #3147 "Exporting with "Layers: Visible Layers" not working as expected (v1.3-beta10)"
In Aseprite v1.3-beta10 on Pop!_OS, exporting a sprite sheet with the "Layers: Visible layers" option only exports the first layer:
![image](https://user-images.githubusercontent.com/10006314/150652177-319e3bbb-8871-46b7-b27f-cc6dcf564f36.png)

As you can see, all the layers are indeed visible:
![image](https://user-images.githubusercontent.com/10006314/150652390-a425b0f2-9117-4c13-83e0-37ad373f80

[2022-01-22 19:21] iamOgunyinka commented on #3147
It may share some similarities with [this](https://github.com/aseprite/aseprite/issues/3101#issuecomment-998700082) or maybe not.

[2022-01-22 20:32] benpm commented on #3147
I saw that issue too, but it looks like that might be a CLI parsing problem. When I run this command:
[code]
The spritesheet is exported exactly how I want it, with all layers included!

[2022-01-24 18:09] Aurefur opened #3149 "Marked as Virus"
I installed aseprite on my Windows Computer and my Anti-Virus (G-Data) marks some files in the "third-party" folder and the entire source-code.zip as a Virus, all as "exploit.cve-2015-2426.gen".

[2022-01-25 03:04] bferguson3 commented on #3125
Bump because I have the same issue. xinput --list with XP-PEN G960S:
[code]
In my case the correct IDs are 18 and 19

[2022-01-25 09:45] iamOgunyinka commented on #3101
@PacaPop I'm trying to reproduce the bug you reported [here](https://github.com/aseprite/aseprite/issues/3101#issuecomment-998700082) but I'm having issues understanding the behavior you expected in this regard. In a sprite with **multiple** visible layer, if you specify the `{layer}` tag, could you please describe what you expect to see as the layer name(s)?

[2022-01-25 10:06] iamOgunyinka commented on #3101
@PacaPop I'm trying to reproduce the bug you mentioned in the screenshot attached. Please, could you describe the behavior you expect to see in (the resulting JSON data of) a sprite with **multiple** visible layers where these layers are not specified to split? I've been testing this part for some hours now and all my tests come out fine, so please walk me through it. Thanks.

[2022-01-25 13:35] martincapello commented on #3101
Hi @jestarray 👋, according to Aseprite CLI's help:
[code]
So, the files go at the end of the command line arguments, hence it is not a bug actually. Although, we could improve this by warning the user about such argument ordering issue 🤔

[2022-01-25 14:06] ZZaccount1 commented on #3113
Did you resolve it?

[2022-01-25 18:18] jestarray commented on #2905
I can confirm it works on linux, closing

[2022-01-25 18:18] #2905 closed

[2022-01-25 18:22] jestarray commented on #3101
@martincapello Ohh I see! welp, you can close this issue now unless you want to keep it open until notifying the user is implemented

[2022-01-27 22:22] thomasgoldstein commented on #1321
Would splitting this ticket into multiple tickets improve the chances of getting anything done?
The 3rd point is a must have for me, and is how I expected this feature to behave in the first place.

Context: I have a complex animation that has 10 parts, let's say there are 5 frames per part. I'd like to split it into 10 Aseprite files, then have one meta Aseprite file that references these 10 file

[2022-01-28 13:21] dpacbach commented on #3119
Regarding #2089 I closed it because Aseprite is now at least usable on Linux while dragging a tool over an area without hanging; a workaround seems to have recently been put into place involving skipping some mouse motion events in order to lessen the burden on the CPU, and that now makes it usable.

@dacap That said, it seems like there still might be a root cause that has not been addressed.  On

[2022-01-28 14:49] lua-rocks opened #3150 "Cannot build beta-10 on Xubuntu 20.04"
This part works fine:
[code]
But `ninja aseprite` throws error:
[code]

[2022-01-29 12:48] geffgeff opened #3153 "Screen tearing on Arch Linux (Steam)"
When zooming in and out of a canvas and moving it around, I experience horrible screen tearing. I don't experience screen tearing on my desktop at all, except for Aseprite. Any way to stop this? Here is some of my hardware info if that helps.
Thanks all.

### Hardware info
* CPU: AMD A9-9410 RADEON R5 2C+3G (2) @ 2.900GH
* GPU: AMD ATI Radeon R2/R3/R4/R5 Graphics
* Memory: 7403MiB

### Aseprite an

[2022-01-31 09:51] EMPTYNES opened #3154 "Can't Compile Aseprite On Popos! and void linux"
I am trying to compile aseprite but it is giving me error(Attaching it below)
I tired it on void linux as well as on Pop OS,  tried GCC and Clang but still having the same error.
I Am Using main branch and skia-m96 prebuilt as well as self compiled one.

SYSTEM INFO
Linux(Pop!_OS 21.10, Void Linux rolling glibc)
[aseprite_error_log.txt](https://github.com/aseprite/aseprite/files/7969760/aseprite_e

[2022-01-31 10:36] mmartinsthiago commented on #3154
Me too!

[2022-02-01 08:08] iamOgunyinka commented on #3147
Perfect! I'm trying to reproduce this on Ubuntu now.

[2022-02-01 08:49] PrimaIVoid commented on #3154
Exactly same error, on Debian 10 with the latest commit

[2022-02-01 16:30] anadayloft opened #3155 "Aseprite doesn't recognize mouse events at negative screen positions"
Aseprite doesn't respond to mouse events on multi-monitor setups (heck, actually you can do this with single monitor setups too, but why would you) when placed on a monitor which has negative position values. Keyboard interaction still works.

#### Example:
Laptop screen is set to begin at position 0, 0; Aseprite works as expected here.
External display is set to begin at position -160, -1080 (att

[2022-02-01 16:54] dacap commented on #3145
Not at this moment (but maybe in a far future).

[2022-02-01 16:54] #3145 closed

[2022-02-01 16:56] dacap commented on #3149
Hi @Aurefur, could you please tell us from where did you get Aseprite? You named a "third-party" folder, but a "third_party" folder is only in the source code file, and that file doesn't contain binary files (only text files), so it's strange that an antivirus inform it as it contains some kind of virus.

[2022-02-01 17:36] HotCoffee04 opened #3156 "Aseprite does not build on Linux."
I tried compiling Aseprite but it gives me a lot of errors when linking

`
[631/1527] Building CXX object laf/os/CMakeFiles/laf-os.dir/skia/os.cpp.o
FAILED: laf/os/CMakeFiles/laf-os.dir/skia/os.cpp.o
/usr/bin/c++  -DCMARK_STATIC_DEFINE -DGR_GL_FUNCTION_TYPE=__stdcall -DHAVE_CONFIG_H -DHAVE_CONFIG_OVERRIDE_H=1 -DLAF_FREETYPE -DLAF_LINUX -DLAF_SKIA -DLAF_WITH_REGION -DNDEBUG -DPNG_NO_MMX_CODE -DSK_A

[2022-02-02 07:52] iamOgunyinka commented on #2903
I could reproduce this, same procedure you used but a 256x256 canvas.

[2022-02-02 09:57] iamSkev commented on #3154
Exactly the same error with mine too

[2022-02-02 11:44] Gasparoken opened #3157 "Add a CLI warning if the file to be manipulated isn't found at the end of the command line."
This was recommended here: https://github.com/aseprite/aseprite/issues/3101

### Aseprite and System version

* Aseprite version: 1.2.32-x64
* System: Windows/macOS

[2022-02-02 12:19] Gasparoken commented on #3147
Thanks for this report @benpm. I cannot reproduce it on MacOS. @iamOgunyinka, were you able to reproduce it on Ubuntu?

[2022-02-02 12:20] dacap commented on #3101
Actually I think the only problem is putting the <test>.ase file before --split-layers instead of doing after it, something like this should work:

    aseprite --split-layers test.aseprite --data test.json --format json-array --sheet test.png --ignore-empty --shape-padding 1 --trim --filename-format "{layer}-{frame}" --batch

It's mentioned in the [--split-layers docs](https://www.aseprite.org/do

[2022-02-02 12:25] dacap commented on #3157
Please note that some arguments expect the sprite to be specified before (the document must be already opened for the argument to work correctly), e.g. [--color-mode](https://www.aseprite.org/docs/cli/#color-mode):

    aseprite input.aseprite -color-mode indexed -save-as output.aseprite

[2022-02-02 12:38] Gasparoken commented on #3157
Therefore, this problem is not applicable.

[2022-02-02 12:38] #3157 closed

[2022-02-02 13:29] dacap commented on #3068
Probably this problem is related to double-clicks, e.g. a double-click event is generated with full-pressure and the full-sized brush is painted.

[2022-02-02 22:16] levilindsey opened #3158 "Add the ability to change a group's position"
It would be useful if a group had its own position, which would then be applied to all children layers.

I often find myself wanting to keep my art separated into multiple layers, but also wanting to be able to move those layers around together, as though they were a single unit.

[2022-02-03 01:55] behreajj opened #3159 "Lua Color.index returns a float not an integer"
Hello,

This is a bug report. It was tested in version 1.3-beta10-x64 on Windows 10.

In the Lua scripting API, the method [Color.index](https://github.com/aseprite/api/blob/main/api/color.md#colorindex) returns a float, not an integer. This can be tested with `print(math.type(myColor.index))` and can be seen in the source code here  https://github.com/aseprite/aseprite/blob/9e23d31d84a5bfdccc32ae

[2022-02-03 11:39] Gasparoken commented on #3158
Hi there! You can move multiple drawing at the same time doing this:
- Marquee tool: select the area you want to move or just click CTRL+A (or ⌘A on Mac)
- Go to the Timeline and select the layers or group of cel you want to move.
- Move the drawing (this feature hasn't a realtime preview of the drawing while it's moved yet -pending implementation-)

Anyway, I think this feature you recommend is a

[2022-02-03 13:50] sentry-io[bot] opened #3161 "Crash using a nullptr pixelsMovement on MovingPixelsState::onCommitMouseMove()"
Sentry Issue: [ASEPRITE-1C](https://sentry.io/organizations/igara-studio/issues/2957360653/?referrer=github_integration)

[code]

[2022-02-03 15:01] #3135 closed

[2022-02-03 15:03] dacap commented on #3135
All PRs merged in 653931c4fcb8a890deefd4a5244d3b62fb0856b0

[2022-02-03 16:47] levilindsey commented on #3158
@Gasparoken Yeah, good point! I forgot about that multi-layer selection move. I've used it before, but I think I found it cumbersome to use.

[2022-02-03 22:40] #2903 closed

[2022-02-04 12:35] sentry-io[bot] opened #3162 "SpriteEvents destructor being called from an unhandled exception context"
Sentry Issue: [ASEPRITE-Z](https://sentry.io/organizations/igara-studio/issues/2940863939/?referrer=github_integration)

We've received some crash report were the problem appears using the m_doc field of a SpriteEvents when we are destroying them, but this happen in the context of an unhandled exception.

The issue is using a destroyed `doc::objects` (`src/doc/object.cpp`) when destroying `~Sprite

[2022-02-04 15:37] Gnumaru opened #3163 "Feature Request: Export tagged frames"
In the spritesheet export window, in the Sprite tab, there are options to select which frames should be exported.

Currently, you can export all frames, only the selected frames, or the frames belonging to an specific animation tag.

It would be convenient to have an option to export all tagged frames. This would allow the artist to have some reference pieces in untagged frames, maybe even between

[2022-02-04 16:44] #3159 closed

[2022-02-04 20:52] #3081 closed

[2022-02-05 16:16] Chae4ek commented on #2767
Hi! Sometimes I use a tablet or a mouse and I can say that moving the mouse left and right is more convenient cause I move my wrist. Moving the mouse with fingers up and down is more difficult.
On the contrary, when using a tablet I prefer to move the pen up and down with fingers rather than left and right with the wrist.
I think it would be better to add a checkbox to switch these modes (or two o

[2022-02-06 05:42] Pythagoras-314 opened #3164 "Feature request: "recolor all pixels of the same color" tool"
This was a tool I made use of a lot when working with Piskel, but doesn't have a good alternative in Aseprite. The tool works as follows: when you click on a pixel, it turns all pixels of that color on that layer and frame into that color. Aseprite's current recolor system is annoying to use in bulk, so usually I turn bask to Piskel for easy recoloring. I'm not sure how you could be able to modify

[2022-02-06 15:05] Gnumaru commented on #3164
I haven't used Piskel.

If I understand you correctly, you mean as if aseprite's color bucket had an option like "work across selected cells". Then, when you unchek "contiguous", check "works across selected cells" and paint over a color, it will replace that color not only in the current cell, but in all selected cells.

Another option would be replacing the "contiguous" checkbox with a three opt

[2022-02-06 21:48] est77 commented on #3154
You need to build with clang (gcc does not work anymore with the new Skia binaries) and
additionally pass the -stdlib=libc++ flag in CMAKE_CXX_FLAGS.
The default for clang on Linux is to use gcc's standard library.

[2022-02-06 21:56] RandyGaul commented on #721
Just popping in to mention I’m most excited about this feature of all the new aseprite work! I’ve had to write my own separate editor for adding in the equivalent of slices per frame, which complicates the art pipeline quite a lot! Would love to specify this and export the .ase file directly.

I wrote an [aseprite file loader in C here](https://github.com/RandyGaul/cute_headers/blob/master/cute_as

[2022-02-07 09:58] atchim commented on #3154
@est77, I'm also having undefined reference errors even compiling both Aseprite and Skia.

[2022-02-07 18:54] Gasparoken commented on #3164
Thanks for spotting this feature. I think this will be very useful for artists.

[2022-02-07 19:03] Gasparoken commented on #3164
Hi @Pythagoras-314 . Actually, there is an option to do that 🎉.

-   Select Paint Bucket Tool
- Uncheck Continuous
- Press the 'settings' button, and then check 'Refer visible layer' instead of 'Refer only active layer'
<img width="518" alt="Screen Shot 2022-02-07 at 15 57 01" src="https://user-images.githubusercontent.com/32165475/152854342-d1c95b4d-c1a9-45b1-93f8-619664299985.png">

[2022-02-07 19:08] Gasparoken commented on #3164
It doesn't work for a range of cel. Perhaps we can add a 'Refer visible cel range' options.

[2022-02-07 21:02] dacap commented on #3163
Hi @Gnumaru, I'll think about it. There is an option to export tags with the CLI (`aseprite input.aseprite -save-as output-{tag}.gif`) where I don't remember what happens with untagged frame (I think they get exported anyway), but I remember they were a problem in this case. Same for sprite sheet if the "Item filename" of the JSON data field includes {tag}:

<img width="601" alt="Screen Shot 2022-

[2022-02-07 21:05] dacap commented on #3164
Hi @Pythagoras-314, at the moment the closest to a recolor tool to replace one color in the whole sprites (i.e. all cels) is the "Edit > Replace Color" (<kbd>Shift+R</kbd>) with the "All" option selected:

https://community.aseprite.org/t/replace-color-where-is-the-apply-to-all-frames-in-the-active-layer-button/1211/3

[2022-02-07 21:07] dacap commented on #3143
Also reported here:

* https://community.aseprite.org/t/alt-eyedropper-tool-moves-selection/12920
* https://community.aseprite.org/t/selection-behaves-weirdly-when-using-a-eyedropper/12804

[2022-02-07 21:49] dacap commented on #3147
Sorry @benpm, but I cannot understand the bug because I don't have a overview of the original sprite. Are you willing to export all visible layers merged (like when you flatten the sprite) or split layers? (the checkbox `[x] Split Layers`)

[2022-02-07 22:03] dacap commented on #3126
Thanks for the patch @behreajj, I'm fixing this right now (just tested it).

[2022-02-07 22:26] benpm commented on #3147
Here's the .ase file, zipped: [actors.zip](https://github.com/aseprite/aseprite/files/8019154/actors.zip)

[2022-02-08 14:31] Gasparoken commented on #2071
Hi @sporeball. Yes, that is normal behavior. I think this is fine as is, it gives the artist more tolerance if he wants to paint a region close to the canvas boundaries.

[2022-02-08 15:56] sloppydevil opened #3167 "in Mac M1, Steam version, after slice, find no way to save all slices as separate files."
tried save as {slice}.png;
try export including {slice};

it didn't work. Plz help to give quick hint, thx.

[2022-02-08 19:13] sporeball commented on #2071
wow, i thought this issue might stay unseen forever!

to be honest, because i thought this was a bug way back when, i don't think i *have* an idea of how it should behave instead.\
if it's normal, this issue can be safely closed.

[2022-02-08 19:18] Gasparoken commented on #2071
Thank you for your report in first place!

[2022-02-08 19:18] #2071 closed

[2022-02-08 21:06] dacap commented on #3167
Hi @sloppydevil, did you try something like this?

    /Applications/Aseprite.app/Contents/MacOS/aseprite -b input.aseprite -save-as output-{slice}.png

[2022-02-08 21:12] jestarray opened #3168 "Aseprite exporting incorrrect json data when using linked cells, split layers and trim"
![bad](https://user-images.githubusercontent.com/34615798/153073142-e3e524a3-19ca-4fff-bae9-63b21c054e46.png)

![image](https://user-images.githubusercontent.com/34615798/153075004-df13ce1d-c0c0-4799-995b-e4f30f06918c.png)

My game requires sprites to consists of 2 parts/layers, a head and a body, and it seems aseprite exports the `spriteSourceSize` incorrectly.

The pink head has a `spriteSourceS

[2022-02-09 01:05] dacap commented on #2785
We can confirm that there are a lot of crashes related to buggy wintab32.dll, and it's even worse on v1.3 as it associates a wintab context (calling WTOpen) with each window (e.g. each combobox popup, or tooltip, or menu popup, etc.). The only solution to move forward and make v1.3 the new stable branch will be to make the Windows Pointer API the default option (in this way we avoid wintab as much

[2022-02-09 02:12] Chae4ek commented on #1021
Hello! I think this issue needs more info, and I probably know the reason of these lags.

First, bind any tool to any key (I use 'B' for the Brush, for example), it is important that it's not a 'quick tool'. They seem to work in a different way ('quick tool' also lags, but less).
Then just hold 'B', the mouse will start lagging in a couple of seconds.

It looks to me like the editor handles ***typ

[2022-02-09 02:16] sloppydevil commented on #3167
## old way doesn't work
Thx so much for quick reply. My aseprite is a steam version. Under ***/MacOS, there is only a run.sh script.
And its content is "open steam://run/431730".

## another try, it worked!
I use command "ps" to check running process, and found the aseprite is "/Users/Forest/Library/Application Support/Steam/steamapps/common/Aseprite/Aseprite.app/Contents/MacOS/aseprite". 😦

so on

[2022-02-09 02:16] sloppydevil commented on #3167
## old way doesn't work
Thx so much for quick reply. My aseprite is a steam version. Under ***/MacOS, there is only a run.sh script.
And its content is "open steam://run/431730".

## another try, it worked!
I use command "ps" to check running process, and found the aseprite is "/Users/Forest/Library/Application Support/Steam/steamapps/common/Aseprite/Aseprite.app/Contents/MacOS/aseprite". 😦

so on

[2022-02-09 02:17] sloppydevil commented on #3167
## old way doesn't work
Thx so much for quick reply. My aseprite is a steam version. Under ***/MacOS, there is only a run.sh script.
And its content is "open steam://run/431730".

## another try, it worked!
I use command "ps" to check running process, and found the aseprite is "/Users/Forest/Library/Application Support/Steam/steamapps/common/Aseprite/Aseprite.app/Contents/MacOS/aseprite". 😦

so on

[2022-02-09 02:25] #3167 closed, assigned to dacap

[2022-02-09 11:14] dacap commented on #1021
Hi @Chae4ek, it looks like your lag problem is a different one. Generally we interpret key presses/releases, and "typed characters" are interpreted only on text input fields. At least that should work in that way, you can test this pressing the B key to select the Pencil tool (keep the B key pressed) and then press the E key (without releasing the B key). The eraser tool should be selected, but th

[2022-02-09 11:18] dacap commented on #3119
@dpacbach there are plans to fix the editor logic to do all heavy processing in a background thread (so we avoid locking the UI for much time, and we should cancel any background processing after getting a new mouse event). This is related to #509

[2022-02-09 16:42] benpm commented on #3147
Still experiencing this issue in beta11. It also seems to happen on Windows:
![image](https://user-images.githubusercontent.com/10006314/153247244-42bed925-e74a-4d9d-b5c0-2f719cd7e498.png)

![image](https://user-images.githubusercontent.com/10006314/153247477-58d57d63-777f-462b-bb15-9316e4f2c990.png)

As you can see only the first layer makes it into the export preview. The other layers are nowher

[2022-02-09 16:47] benpm commented on #3147
The mystery deepens... I've tried it with a different sprite and export all visible works as expected. It has to be something specific to the sprite I'm working on, I guess.

[2022-02-09 17:36] dpacbach commented on #3119
@dacap Thanks... that said, I'm going to persist here and say that, on a modern machine, it should not require multi-threading to drag a box over some pixels, even with a high rate of mouse events ;-)  I think computers from the 1980's were able to do this just fine without multi-threading.

If multi-threading is needed to make this simple action performant then that means there is still a problem

[2022-02-09 19:04] dacap commented on #3119
Adding a background thread will not increase CPU usage because we'll be able to break the work after receiving a new event (e.g. this is the way filters work, for example in the Convolution Matrix action, if you choose a new matrix, it stops processing the old one and start again for preview purposes).

Right now (or before [this change](https://github.com/aseprite/aseprite/commit/26c1a94b833c2e0b

[2022-02-09 19:54] dacap commented on #2907
The [Sentry issue](https://github.com/aseprite/aseprite/issues/2907#issuecomment-1034135755) looks like a different one but similar (the crash is not generated directly from closeWindow):

[code]

[2022-02-09 21:10] TheChocolateOre opened #3169 "Custom FXs"
*Shaders in disguish*
Let the user bring their own.

To preview assets throught a post processing pipeline (the final product look), exporting in an engine or shader editor is necessary. That back and forth is costly.

Designing an environment for shader processing is an overkill. Letting the user import a source file of the shader, seems more reasonable (GLSL?). Although, that leaves more complex

[2022-02-09 21:33] dacap commented on #3169
Hi @TheChocolateOre, there are plans to include shaders in a future (mainly GLSL, which I think [Skia](https://skia.org/) support), but mainly for preview purposes (#1506 and #2790). Some GPU-acceleration work was done in the past but still not ready for production, so we need to work in the back-end a little yet (use more texture/read-only surfaces, etc.)

There are some solutions through extensi

[2022-02-09 23:09] TheChocolateOre commented on #3169
Brilliant!

Is this a software renderer?
I'm not familiar at all with the backend here, so please excuse my ignorance.

I've noticed you had a few issues with CPU and GPU memory that was causing a bottleneck in GPU-acceleration.
Of course just speculating, but have you considerer migrating to Vulkan? Many puzzlers will vanish down the road. Also, that would lay the foundation for future niche inte

[2022-02-10 00:57] behreajj opened #3170 "Error Saving .jpg converted From Gray to RGB Color as .png"
Hello,

This is a bug report. I encountered it in version 1.3-beta11-x64 on Windows 10.

Steps to reproduce:

1. Open a .jpg image that is in grayscale color mode.
2. Either
a. Run a script with the code `app.command.ChangePixelFormat { format = "rgb" }`.
b. Go to `Sprite > Color Mode > RGB Color`.
3. Go to `File > Export`.
4. Save as a .png.
5. Observe error message: "libpng: profile 'Custom Prof

[2022-02-10 05:13] EMPTYNES commented on #3154
Already tried clang , will try using the -stdlib=libc++ flag in CMAKE_CXX_FLAGS.

[2022-02-10 16:41] iamOgunyinka commented on #3047
Note to self: the reason this works in `main` and not in `beta` is due to the difference in the result returned by the ink's [`RgbMap::mapColor()`](https://github.com/aseprite/aseprite/blob/845ff177880822f33939cfbe58ca5bebaf4efbea/src/app/tools/ink_processing.h#L295). The `beta` branch uses a new overload, more investigation into the octree.

[2022-02-11 13:23] #2933 closed

[2022-02-11 15:39] Gasparoken opened #3171 "Add configurable sensitivity to the mouse wheel"
Some trackpad and/or mice have unwanted mouse wheel sensitivity.

* Aseprite version: 1.2.33-x64 and 1.3-beta11-x64

[2022-02-11 17:54] m-colombo opened #3172 "No warnings/errors for slices with same name"
Hi 👋 ,
I'm exporting slices with `--save-as` along with a templatized filename, e.g. `{slice}.png`.
By mistake I named two slices the same, that results in one slice silently overwrite the other in the exported files. Although it might be technically right, it's quite subtle and also hard to debug when this is part of a bigger pipeline.

Personally I'd add a warning/error when invoking the CLI exp

[2022-02-11 21:50] yakivmospan commented on #2695
Hey @dacap, after updating to 1.2.33 (was somewhere under 1.2.30 before) scroll wheel on my MX Anywhere 3 (which uses the same software as MX Master) become very sensitive. Just unable to scroll or zoom with it. Is it possible to add some sort of sensitivity option for the scroll wheel to preferences, would be really handy?

Meanwhile would be very thankful if you drop me some info about where to

[2022-02-12 20:00] hk0i commented on #2695
Since I opened the ticket I'd like to note that my MX Master is working great right now (currently tested on v1.3-beta11-x64). Just so we have it marked for historical reasons that this was at some point working.

Thanks everyone!

[2022-02-13 08:35] yakivmospan commented on #2695
@dacap Looking forward to that new config param, thanks!

[2022-02-13 08:41] yakivmospan commented on #2695
Just to give you more hints here, I'm running Aseprite on Big Sur 11.6. And here are my Logi Options:

![image](https://user-images.githubusercontent.com/1574033/153745589-55f8b527-d0cd-4703-a151-7d01a9fe07bd.png)

Just ping me if you need any other details.

[2022-02-13 22:35] beetrootpaul commented on #645
FYI For those who ended up here while googling for a selection export in Aseprite. In [super-export](https://fletchmakesstuff.itch.io/super-export) extension we just added such feature. You can export selected portion of an image and upscale it at the same time, even over 1000%.

[2022-02-14 11:04] iamOgunyinka commented on #3047
@dacap I want to ask you about this behavior. In this screenshot I attached, there is a palette that has seven (7) identical colors at different indexes `[0, 4, 8, 12, 13, 14, 15]`. When we [add these colors to the octree map](https://github.com/aseprite/aseprite/blob/8b5133b4c03ea3789da0b628fce738f635df65b7/src/doc/octree_map.cpp#L32), using their [indexes in the palette](https://github.com/asepr

[2022-02-14 13:16] dacap commented on #3047
@iamOgunyinka I would say that this is a bug. In transparent layers we could expect to map RGBA=0,0,0,255 to the first match in the palette instead of the last one, e.g. in the original example it's 0 for background layers, and index 4 for transparent layers (but never entry 15 as there are other colors in the palette that matches first).

Anyway the "Alpha Compositing" is a little strange in inde

[2022-02-14 14:57] iamOgunyinka commented on #2891
@Gasparoken could you please try reproducing this on a Mac? I can't seem to be able to do that on Windows. I've dragged this selected portion (as described in the report) around a lot and ... nothing.

[2022-02-14 20:59] Gasparoken commented on #2891
Hi @iamOgunyinka. Yes, I was able to reproduce it in MacOS and Windows. Only in the beta version.

[2022-02-15 03:26] Gasparoken commented on #3047
`Alpha Compositing` has the feature of compositing the color in the sprite with the current selected fg color, then the resulting color is searched through the palette to find the best fit (this search occurs only in Indexed Color Mode).

For example, assume a sprite in Indexed Color Mode with a Background layer, and it has a palette with white as 'transparent' index, green, dark green and semitra

[2022-02-15 13:17] iamOgunyinka commented on #3170
@dacap the problem in this case is that the original image uses a custom color profile that isn't recognized by the PNG encoder as a valid iCCP. In cases like see, what do you suggest happens? Instead of making it an error when saving the custom color profile, could we perhaps give a diagnostics that it failed and move on?

[2022-02-15 15:22] tuanddd commented on #2695
Have anyone been successful in adjusting the zoom speed? I'm using a MX Mouse 3 too and even with just a slight touch of the wheel causes the zoom level to increase by at least 100% each time

[2022-02-15 15:56] DaanWesterhof opened #3174 "Compile/link error archive_static.lib"
Describe your bug report or feature request here
I am trying to build aseprite for windows but run into a compiling/linking error.

![aseprite_link_error_1](https://user-images.githubusercontent.com/43374529/154097289-2fe0e946-a6a1-4d49-862a-97c9b91dbe1f.png)

It looks like an OpenSSL issue (if i am correct) but i dont know when, where or how openssl is needed.
I have openssl version: 1.1.1g  21 A

[2022-02-16 01:31] bitwitch commented on #2723
I was able to compile aseprite fine on ubuntu but it failed when linking. The linker errors seem to support @kforeverisback's comment about libskia.a and libwebp.a having same some cross-dependency issues. Disabling webp support with a flag did not work for me unfortunately.

The only way I was able to get aseprite to completely build was to compile Skia myself and link with that instead of the pr

[2022-02-16 02:35] Gasparoken commented on #2695
I'll try to add some sensitivity scheme soon.

[2022-02-16 13:34] dacap opened #3176 "Recognizing tablet / stylus / pen / eraser on Linux"
It looks like the "best way" to recognize a pen/stylus and eraser tip is looking at the description/name of the device (more information in #3125). We can check the list of connected input devices on Linux running the following command:

    xinput --list

Right now [we are looking to the name of each device](https://github.com/aseprite/laf/blob/d47ccc7887a2d900e5297e032e8cf9fcfd75451c/os/x11/xinp

[2022-02-16 13:46] Gasparoken opened #3177 "Grid offset resets to 0,0 after deleting all tiles on a tilemap layer with non zero offset"
Steps to reproduce:

- New sprite
- Select a regular layer
- Go to _View > Grid > Grid Settings_ and set _X:8_. and _Y:8_
- Draw something
- Right click on Layer, go to _Convert to... > Tilemap_
- Erase all tiles in _Tilemap Mode_ (this happens only in this mode, Pixels mode works fine)
- Result: Grid offset will reset to 0,0.

### Aseprite and System version

* Aseprite version: 1.3-beta11-x64
*

[2022-02-16 13:51] Arkezuli opened #3178 "Color indexing seems broken?"
Describe your bug report or feature request here

Aseprite seems to be overwriting colors that should not be overwritten. File to showcase the exact issue.

Aseprite and System version

        Aseprite version: 1.2.33, Steam
        System: Windows 10 x64 Home Edition, Version 21H2

[2022-02-16 20:19] Gasparoken commented on #2695
Please @yakivmospan, try this configuration in Logitech driver (Smooth scrolling = Disabled):

<img width="550" alt="Screen Shot 2022-02-16 at 16 52 52" src="https://user-images.githubusercontent.com/32165475/154347256-b405926d-5622-4875-9ab8-646c8580284f.png">

On the other hand, @tuanddd, each scroll wheel "tick" normal increment/decrement is 100% steps in the zoom range: 100% <= ZOOM <=600%.
Zo

[2022-02-17 01:02] nulflux opened #3179 "Tilemap Index 0 (Empty Tile) Throws Off Tile Arrangement"
No matter what we do we cannot ever align the tiles in the editor as intended. It is like someone swapped stickers on a rubik's cube. There is no valid arrangement to solve the disorder. I vote that the app refrain from adding or removing any tiles to our tilemaps - ESPECIALLY tile 0. The utility of an empty tile is moot when it can easily be assumed in code that tiles are greater than 1 and 0 or

[2022-02-17 12:31] dacap commented on #3176
Reported problems detecting GAOMON tablets (xinput output):
[code]

Source: https://igarastudio.zendesk.com/agent/tickets/3243

[2022-02-17 12:50] dacap commented on #3176
From https://github.com/aseprite/aseprite/issues/3125#issuecomment-1020762899 XP-PEN G960S:
[code]

[2022-02-17 12:51] dacap commented on #2931
I'll close this issue but we've added some changes to detect more pen devices, more details in #3176

[2022-02-17 12:51] #2931 closed

[2022-02-17 12:52] iamOgunyinka commented on #2158
I can confirm it has.

[2022-02-17 12:52] dacap commented on #2667
@LavenderTheGreat Just in case you still have this issue, check #3176

[2022-02-17 12:55] dacap commented on #3176
I forgot the case of Huion Kamvas Pro 16 as mentioned in https://github.com/aseprite/aseprite/issues/3125#issuecomment-1015065882:
[code]
(custom driver?)

[2022-02-17 12:58] Gasparoken commented on #3179
Sorry @nulflux , I don't get the requirement.
- Could you indicate the steps to reproduce the behavior?
- Could you explain what's you final drawing intention?
Any screenshot, video is welcomed too.

[2022-02-17 13:01] dacap commented on #3125
@Anuken definitely `" pen"` cannot be used (as it would match other devices as @bferguson3 show, it could match several `" pentablet"` devices). I will include a complete match for `"tablet monitor pen"`.

[2022-02-17 13:19] dacap commented on #3179
Maybe the [Tilemap Manual mode](https://www.aseprite.org/docs/tilemap/) is the solution for @nulflux? I think this is related to the Auto mode that modifies the tiles in the tileset automatically, but I'm not sure.

[2022-02-17 13:30] sentry-io[bot] opened #3181 "Crash using invalid index in FileItemList"
Sentry Issue: [ASEPRITE-2M](https://sentry.io/organizations/igara-studio/issues/3006398345/?referrer=github_integration)

[code]

[2022-02-17 13:57] #3181 closed

[2022-02-17 13:57] #2785 closed

[2022-02-17 14:55] yakivmospan commented on #2695
@Gasparoken hey, yeah disabling smooth scrolling only for Aseprite solves an issue with the scroll wheel, thanks.

But it feels like a workaround, as all other apps work well with it. Maybe it's possible for Aseprite to somehow convert events from "smooth scrolling" to "not smooth" ones. So users will not need to go to logi options and do it manually. If it's not possible, then maybe detect that i

[2022-02-17 17:16] dacap commented on #2695
I want to add that I'm not sure what the other apps do, but probably they use the wheel information as a "smooth zoom" or "smooth scroll". The problem in our case is that Aseprite doesn't support smooth zoom yet (this requires a rewrite of the rendering code, which is planned in some future #835, #1225). So the wheel is used to zoom by "ticks"/"levels" (the smooth data is converted into "ticks", l

[2022-02-17 20:24] nulflux commented on #3179
This is a simple example:
![Screenshot from 2022-02-17 12-20-33](https://user-images.githubusercontent.com/17097717/154564648-597dfe08-d6d6-4f88-993e-20d77b4c2e93.png)
![Screenshot from 2022-02-17 12-20-06](https://user-images.githubusercontent.com/17097717/154564650-a18d8c0b-2cd3-4058-b111-c88c59c576e7.png)
![Screenshot from 2022-02-17 12-19-38](https://user-images.githubusercontent.com/17097717/

[2022-02-17 20:27] nulflux commented on #3179
I do use that but it doesn't seem to solve the issue. Thanks for the reply :)

[2022-02-17 21:12] Gasparoken commented on #3179
Oh, I see now!

At the moment the easiest way to work with tiles is keeping a .aseprite file with your tiles arranged like this:

<img width="400" alt="inline-1101409985" src="https://user-images.githubusercontent.com/32165475/154570469-d374393a-2551-4056-9cec-c83fd393b913.png">

Then, when you want to do some new tilemap in other aseprite file --> Open this arranged tilemap --> copy the Cel --> p

[2022-02-18 05:34] EMPTYNES commented on #3154
Thanks @est77 adding stdlib=libc++ flag in CMAKE_CXX_FLAGS worked. @dacap please add to use stdlib=libc++ flag in CMAKE_CXX_FLAGS along with clang when using prebuilt skia in the INSTALL.md too.

[2022-02-18 05:34] #3154 closed

[2022-02-18 17:14] dacap commented on #3179
There are plans for a 2D arrangement of tilesets (and groups of tiles), but the UI details are not yet solved. Please refer to the tilemap issue #977 for more information and design considerations.

Also some extra discussion in https://community.aseprite.org/t/advanced-tileset-management/11741/5?u=dacap about the problems and ideas about using an external tileset (which can be viewed as a fixed 2

[2022-02-20 02:31] ZetaoYang commented on #2723
You can add `-D LAF_BACKEND_LINK_FLAGS=-Wl,--allow-multiple-definition` to allow multiple definition to linker.

here is my github actions build.yaml

[code]

[2022-02-20 05:01] behreajj opened #3182 "Color Button Doesn't Update, Shows Gray Value After Grayscale Converted To RGB"
Hello,

This is a bug report. I observed it in versions 1.2.32 and 1.3-beta11 -x64 on Windows 10.

After a sprite is converted from grayscale to RGB color mode, the color buttons in the bottom-left corner do not update to show saturated colors; they show grayscale values instead. The underlying color is saturated, however, when applied to the canvas with a pencil tool.

To reproduce:

1. Go to `Fi

[2022-02-20 13:46] dacap opened #3183 "Add different options for upsampling/downsampling (zoom in/zoom out)"
With the Zoom tool we could show some available options to render the image with different algorithms when we zoom in (zoom > 100%) and zoom out (zoom < 100%).

The main issue is getting back the previous algorithm when we zoom out the image before we switched to Skia m96. To do so I have this patch for laf:
[code]
But this option should be offered through the laf API and configurable from Aseprit

[2022-02-21 19:21] #3183 closed

[2022-02-22 11:57] titoasty opened #3184 "Tag an area/selection"
Describe your bug report or feature request here

Hi,

I've been trying to search an option to export multiple parts of a tilesheet at once, and didn't find any. So the current way is to crop the image to an area before exporting it.
What would be AWESOME is to tag an area of the image, and then being able to export it (the same way you export a tagged anim, you just choose in the dropdown in the

[2022-02-23 11:41] Bitzbytz opened #3185 "Problems opening the Aseprite executable"
## Problems opening the executable

When running cmake and compiling Aseprite, no major errors occurred. But when trying to open the Aseprite executable an error message opened in terminal. I'm not sure if I'm doing it right or if this is expected as I haven't seen any other issues about this.

### Error message:
[code]

Hope someone can help!
Thanks in advance

### Aseprite and System version

*

[2022-02-23 18:41] DonaverBoxwood opened #3186 "Downloading from github causes many folders to be empty"
When downloading aseprite from github using the "download zip" option, some folders are completely empty upon unzipping the zip file (specifically, all folders that have an @ followed by a number. See attached image for details.)

![observable is empty](https://user-images.githubusercontent.com/100310804/155385733-fd010051-4bf2-4952-b16e-30a3425dde8c.png)
![laf is empty](https://user-images.github

[2022-02-23 21:45] dacap commented on #3186
Hi there @DonaverBoxwood 👋 it's a known issue with GitHub. We use submodules, and the default/automatic .zip that GitHub offers doesn't include the source code of submodules (this is a problem with all repositories that use submodules), so you have to download the .zip that we distribute in the [Releases](https://github.com/aseprite/aseprite/releases) page.

[2022-02-23 21:45] #3186 closed

[2022-02-23 21:50] dacap commented on #3185
Hi @Bitzbytz, it looks like your local copy of libdeflate.0.dylib (maybe installed with homebrew?) was used in the compilation process, could you share your `CMakeCache.txt` file?

[2022-02-23 22:29] dacap opened #3187 "Running Aseprite from C# code can hang the program"
In some cases (with some specific `.aseprite` files) if we try to run Aseprite in batch mode from C# to create a sprite sheet using the `System.Diagnostics.Process`, the C# app will hang.

First it was thought that Sentry was the cause of this problem, but it's unrelated (disabling Sentry doesn't fix it).
Here a stacktrace debugging Aseprite if we attach to the process and see where it hangs:

[co

[2022-02-24 00:53] Bitzbytz commented on #3185
Here is my [CMakeCache.txt](https://github.com/aseprite/aseprite/files/8128619/CMakeCache.txt) file.

[2022-02-24 05:31] ProgrammingParadox opened #3188 "Fix Full Preview and Edges setting on Cursors preferences"
It would be very nice if there was a preference to put an outline around the brush so it can still be seen when in a "blob" of it's own color. Just a thought.

### Aseprite and System version

* Aseprite version: version number, portable
* System: Windows

[2022-02-24 11:37] Gasparoken commented on #3188
The Preference 'Full Preview and Edges' doesn't draw the cursor edges.

- Aseprite version: 1.2.33 and 1.3-beta11
- System: tested on MacOS Catalina

[2022-02-24 20:05] #2994 closed

[2022-02-25 08:10] iamOgunyinka commented on #2656
Bringing this forward a bit, looks like there was a bug identical to this mentioned recently. I'll add a link if/when I find it.

[2022-02-25 09:33] tavurth commented on #1039
Was also looking for this just now, sad to see it's not implemented :(

My use case was to draw one or two brushes and then use the spray tool to generate many many of them over the png without looking so self-similar.

[2022-02-25 12:48] #3122 closed

[2022-02-27 10:37] Bitzbytz commented on #3185
When I tried removing the lines it didn't work, but I fiddled with it and tried different things. I ended up getting it working by changing it to:
[code]
I just removed the `VALUE` for the 2 file paths and reran `ninja aseprite`.

Thank you so much for helping me!!

[2022-02-27 10:37] #3185 closed

[2022-02-27 16:17] GabrielModog opened #3189 "App is crashing when palette presets is open"
The app is crashing when I click on _palette  presets_.

![GIF 27-02-2022 13-15-47](https://user-images.githubusercontent.com/1420545/155890323-784529f7-f4ff-45fe-9e9b-8a8b1f34e952.gif)

### Aseprite and System version
* Aseprite version: Aseprite v1.x-dev (commit hash: 2bb93247aafdb0190139e00c5d991a5a5346c17f)
* System: Win 10 pro and Win 11 home

[2022-02-27 17:09] oceanhahn opened #3190 "Transform mode QoL options for scaling"
When Transform mode on a selection is active, it would be pretty handy if the text inputs fields (pictured below) at the top of the Workspace had an option for horizontal and vertical scale values, in addition to position and deformation.
![image](https://user-images.githubusercontent.com/11544843/155891978-b05cec34-2893-454d-b8df-b0e14be42241.png)

Beyond that, adding a constrain mode during Tran

[2022-03-01 09:57] Cellinnek commented on #3113
Managed to fix the issue by compiling skia myself

[2022-03-02 19:14] dacap commented on #3047
I'm closing this issue but I think still some work to add colors in the octree in reverse order should be done.

[2022-03-02 19:14] #3047 closed

[2022-03-02 19:20] w4ffl35 commented on #2653
I believe the above PR that I opened before realizing I needed to sign the CLA (and thus have closed) will fix this issue.

`C:\deps\skia\out\Release-x6` should be `C:\deps\skia\` -- this was the fix on my end.

[2022-03-02 23:13] Shiver-Star opened #3192 "Eyedropper out of window is only transparent"
I run aseprite on linux, and whenever I try to use the eyedropper tool outside of the program window, it only picks up as transparent.

* Aseprite version: 1.3-beta10-x64
* System: Linux Mint 19.3

[2022-03-04 11:27] dacap commented on #3190
Hi @oceanhahn thanks for your comments. Yeah the context bar when we are transforming wasn't properly designed for v1.3 (it was more like a "let's release this thing now" decision 🙈). Still not sure how to properly organize them, my alternative idea (that I didn't implement for lack of time) was to create another row in the context bar to show the bounds and rotation/skew angles, but it would remo

[2022-03-04 11:35] dacap commented on #3192
As it was said in https://community.aseprite.org/t/eyedropper-outside-of-window-on-linux-x11/13293 this is a known issue because the Linux port doesn't have this function implemented yet.

Internal details: https://github.com/aseprite/laf/blob/7c819791e50116b54e0666dbf96822e0993d1d1f/os/x11/system.h#L53

[2022-03-04 14:28] justburner commented on #3189
+1
Having same issue.

[2022-03-06 03:39] CaptainOrigami opened #3194 "Exporting gif at 1000% causes aseprite to crash"
I am working on a project where I am animating a 5 frame gif on a 480x270 pixel canvas. I have been posting updates of the gif to my friend as I have made progress on it and have been exporting the image for sharing to 1000% scale for my friends to see. Suddenly today, I have tried exporting the gif and cannot export it at 1000%, and when I try to, aseprite crashes. I don't understand why it is cr

[2022-03-06 18:54] dacap opened #3195 "Key shortcut + Drag mouse as an alternative to mouse wheel"
I was working in these days ([including this change for X11](https://github.com/aseprite/laf/commit/02ed21d1214ff913150fe3caf1470f2ee0dc6f14)) to add a feature to press a key, drag the mouse, and release the key to change some value (e.g. zoom, brush size, etc. the [same actions](https://github.com/aseprite/aseprite/blob/b86eea912d3449a83ec3cafc2dc3da250526f54b/src/app/ui/key.h#L68) that can be ac

[2022-03-07 18:34] lunathir opened #3196 "Ctrl-Shift while in pencil tool creates extra line"
### Aseprite and System version

* Aseprite Version: v1.3-beta11 on Steam
* System: Windows 11/Linux Mint: Debian Edition

### How to Reproduce

* Make new canvas, or open any image
* Select pencil tool
* Make a line with Ctrl-Shift, ensuring the crosshair is not over the line you are drawing. Easiest if you create a really long line, as the granularity makes it easy.

### Results
Expected: There

[2022-03-07 19:34] lajawi commented on #3189
Same problem, built Aseprite myself though.
(I don't know where to find the build #)

[2022-03-07 20:08] Gasparoken commented on #3196
Thanks @lunathir for this report. I was able to reproduce it.

[2022-03-08 18:51] dacap commented on #3171
Working on #3195 there are some things it would be nice to improve in the macOS port of the mouse wheel handling, probably publishing the [NSEvent momentumPhase](https://developer.apple.com/documentation/appkit/nsevent/1525439-momentumphase?language=objc) property into [our laf API](https://github.com/aseprite/laf/blob/02ed21d1214ff913150fe3caf1470f2ee0dc6f14/os/event.h#L26), so we could accumulat

[2022-03-08 18:52] dacap commented on #3171
I changed the milestone to v1.3, as v1.2 will be closed soon for new features and we can move v1.3 to `main` soon.

[2022-03-09 17:44] MM102 opened #3197 "`io.open` with `app.fs.normalizePath` broken on Windows 11"
My script contains this line of code to open read a binary file:
`io.open(app.fs.normalizePath(DLG_import.data.importfile), "r")`
This seems to work fine on Windows 10 but on Windows 11 it returns
`attempt to index a function value`

printing `app.fs.normalizePath(DLG_import.data.importfile)` seems to return a normal path
so the issue might be with io.open?

Also, I should mention that I'm running

[2022-03-10 04:47] lua-rocks commented on #3150
Attempt to build `beta-11`:

[code]

[2022-03-10 11:31] dacap opened #3198 "The mouse lags when moving it over timeline icons / layer eye icon (?)"
Report: https://igarastudio.zendesk.com/agent/tickets/3237

[2022-03-10 12:16] dacap commented on #2979
[code]

[2022-03-10 12:24] Gasparoken commented on #3194
Thanks for this report. I used Aseprite 1.3-beta11 in a MacOS, it didn't crash, but I saw a huge amount of memory is used (25GB) and the upscale process takes 1 minute. We'll take a look.
The actual internal process is:
1. Resize the sprite
2. Convert the sprite to the desired output format

A better approach in this particular case (to keep the memory and process time to a minimum) would be:
1. C

[2022-03-10 12:41] Gasparoken commented on #3182
Thanks for this report. I was able to reproduce it.

[2022-03-10 13:10] Gasparoken commented on #3172
Thanks for this report. I was able to reproduce it. @dacap what do you think?
I think the best to do here is do not allow slices of the same name in the first place (a warning that says: 'Duplicate names are not allowed' when the user wants to name a slice). For backward compatibility: add a warning of "Warning: one or more slice's names are duplicated. Slices with duplicate names will be overwrit

[2022-03-10 13:46] Gasparoken commented on #3168
Thanks for this report @jestarray. I was able to reproduce it and it'll solved soon.
I'll close this issue as it's duplicated with the one you mentioned #2600. Thank you again!

[2022-03-10 13:46] #3168 closed

[2022-03-10 13:47] Gasparoken commented on #2600
Thanks for this report @davidfrankel. I was able to reproduce it and it'll solved soon.

[2022-03-10 14:09] dacap commented on #3172
Hi! I think in the past I talked about this issue with other user, the possible solutions are those two with a 3rd alternative to just add a number when we export (e.g. slice-1.png and slice-2.png). But slices with the same name gives other problems in the UI that I've experienced when implementing the slice combobox:

<img width="717" alt="Screen Shot 2022-03-10 at 11 09 22" src="https://user-ima

[2022-03-10 18:21] #2979 closed

[2022-03-10 19:10] #3195 closed

[2022-03-11 01:02] dkgkejdrb commented on #3134
Thank you

[2022-03-12 06:49] #3113 closed

[2022-03-13 03:12] MohamedAlaa201 commented on #3008
I would be happy to help/work on implementing this.

[2022-03-14 19:13] Gasparoken commented on #3189
It can be reproduced on Aseprite version 1.2.34 & 1.3beta12 (Windows and MacOS).
1.2.33 & 1.3beta11 is working fine for me.

[2022-03-14 19:56] TufanMeric commented on #3189
I'm having this issue. Completely uninstalled Aseprite along with its data and reinstalled, nothing changed. I did not have this issue a few months ago.

[2022-03-14 20:24] #3189 closed

[2022-03-14 21:27] maxheyn opened #3201 "Crash when clicking 'Presets' palettes button"
Describe your bug report or feature request here
- When clicking on the 'Presets' palettes button, Aseprite crashes.

### Aseprite and System version

* Aseprite version: v1.2.34-x64 Steam
* System: Windows 10 Version 10.0.19042 Build 19042

[2022-03-14 21:27] maxheyn commented on #3201
Sorry, duplicate of https://github.com/aseprite/aseprite/issues/3189

[2022-03-14 21:27] #3201 closed

[2022-03-15 11:01] turesiht opened #3202 "Pivot point moves itself"
When selecting the area and then clicking inside selection or moving it, the pivot point moves away for no reason

Below are imgur links to screenshots in the followng order:
1) Selected the area
2) Moved it and pivot point moved itself too
3) Rotated the are to show how it behaves itself with the pivot point off

https://imgur.com/gmZ88e5
https://imgur.com/rNrv0Qy
https://imgur.com/WvG0JBs

Asepr

[2022-03-15 11:22] turesiht commented on #3202
After testing around a bit I found that when first rotating the selected area and then moving it results in jumping of that area around

[2022-03-15 11:25] Gasparoken commented on #3202
Thanks for this report @turesiht. I was able to reproduce it. It'll solved soon.

[2022-03-15 12:01] dacap opened #3203 "Docs about customization"
Write some information about:

- [x] [Drag value](https://www.aseprite.org/docs/drag-value/) ([commit](https://github.com/aseprite/docs/commit/f1192c120c2589fa6f58dbbc16e5aefff2608d4a))
- [x] Available [Edit > Preferences](https://www.aseprite.org/docs/preferences/) ([commit](https://github.com/aseprite/docs/commit/f49a393b1c01ab42aae014d7bd3c6c2836e824c7))
- [x] [Keyboard Shortcuts](https://www.a

[2022-03-15 13:50] dacap commented on #3202
I think it's related: https://steamcommunity.com/app/431730/discussions/2/4658416565943773518/

[2022-03-15 15:20] dacap commented on #3202
Also reported here: https://steamcommunity.com/app/431730/discussions/2/4658416565944248871/

@Gasparoken tell me how it goes the progress about it, I can test it too.

[2022-03-15 16:44] #3202 closed, assigned to Gasparoken

[2022-03-16 13:49] dacap commented on #3072
Similar request here: https://community.aseprite.org/t/moving-the-cursor-around-the-workspace/13438

[2022-03-16 16:25] jestarray opened #3206 "Incorrect detection of cel bounds"
![bug_bounds](https://user-images.githubusercontent.com/34615798/158637831-6dadd985-3dcb-4959-baab-b939da30b346.png)

First frame, first layer(left side) cannot detect the cel bounding box but second frame(right side) can, when exporting packed atlas with trimming, it says they are the exact same. Can't find any pixels around it that would make a difference either.

Aseprite file: https://cdn.disc

[2022-03-16 17:36] jestarray commented on #3206
I think its related to me generating aseprite files from a packed texture atlas:
[code]
I use this custom drawing function to select a rectanglar region of pixels from the packed atlas and draw it on a cel since the docs doesnt seem to provide one iirc.

Here's the script
https://github.com/jestarray/aseprite-scripts/blob/master/jest_import_packed_atlas.lua#L475

[2022-03-16 18:06] Gasparoken opened #3207 "Conversion RGB to INDEXED color mode always picks index 0 as transparent color"
Even if mask color is present in the palette:

<img width="616" alt="Screen Shot 2022-03-16 at 10 36 37" src="https://user-images.githubusercontent.com/32165475/158654277-d7cda97c-64f6-41eb-936e-42b81d453f49.png">

In case of mask color isn't present the default behavior is:
<img width="608" alt="Screen Shot 2022-03-16 at 14 51 56" src="https://user-images.githubusercontent.com/32165475/158655483-

[2022-03-16 18:47] Gasparoken opened #3208 "Index color was changed in sprite areas that are painted with mask color after changing Transparent Color"
It's hard to me explain it with a few words, so I attach the action sequence to reproduce the bug:
<img width="247" alt="Screen Shot 2022-03-16 at 15 39 14" src="https://user-images.githubusercontent.com/32165475/158663326-aaa0e1a0-185c-4279-bb23-50776405713e.png">

1. Starting with a RGBA sprite with a mask color in the palette (mask color is index 2).
2. Convert the Sprite to INDEXED (index colo

[2022-03-16 19:08] behreajj commented on #3206
Hi @jestarray,

Does calling

[code]

at the end of your script make a difference?

I might've had a similar issue: https://community.aseprite.org/t/crop-transparent-pixels-from-cel-images-for-imported-gifs/11259. (I didn't want to use `CanvasSize` for my case because it's possible for a cel image to extend beyond the canvas, and trimming a cel image to canvas is not the same as trimming its alpha

[2022-03-16 20:17] #3206 closed

[2022-03-17 02:22] adithv08 opened #3209 "Compiling on chromeOS using crew libs on /usr/local fail"
Before someone says "quit using chromeOS", don't.
On Chrome OS, I get an error during the linking of the aseprite executable:
`Linking CXX executable bin/aseprite
FAILED: bin/aseprite
: && /usr/local/bin/c++ -Wall -Wno-switch -O2 -g -DNDEBUG  src/CMakeFiles/aseprite.dir/main/main.cpp.o -o bin/aseprite  lib/libapp-lib.a  lib/libcfg-lib.a  lib/libclip.a  -lxcb  lib/libdio-lib.a  lib/libfilters-lib.a

[2022-03-17 02:40] bitlather opened #3210 "JSON Export is Missing Frame Numbers"
When I export my aseprite file to a spritesheet, frames are missing.

I am using a .bat file to export multiple things from JSON, but the commands of interest are:

[code]

The JSON file is missing a frame in the walk_2 animation:

![02 The JSON file is missing a frame for walk_2](https://user-images.githubusercontent.com/148455/158724994-b0e642ae-4c60-4e09-860f-339087b209b6.png)

Here is a pictur

[2022-03-17 07:42] behreajj opened #3211 "ImageSpec Allows Invalid ColorModes That Crash App"
Hello,

This is a bug report. I encountered in version 1.3-beta14-x64 on Windows 10. I had "Share crash data with Aseprite developers" set to true when it occurred.

I was writing a script to convert an image in a tile map to an image in a regular layer (without using any `app.command`s). While debugging, I noticed that an `ImageSpec` allows for an invalid color mode that will either crash Aseprit

[2022-03-17 11:27] Gasparoken commented on #3210
Thanks for this report @bitlather. You can send the file to support@aseprite.org. I'll take a look ASAP.

[2022-03-17 11:47] Gasparoken commented on #3211
Thanks @behreajj for this report. I was able to reproduce it.

[2022-03-17 12:27] bitlather commented on #3210
A ZIP file with the bat script and aseprite file have been sent. Thank you!

[2022-03-17 16:58] Gasparoken commented on #3210
Problem found: some cels are made of pure pixels of transparent color, then aseprite's code process these cels incorrectly. I'll fix it soon.

[2022-03-17 19:54] bitlather commented on #3210
That actually makes a lot of sense. Before, I was able to manually fix it by deleting the entire frame from the timeline, then just copied & pasted back the cells that had artwork from a duplicate file into that frame.

I was curious how my manual workaround actually solved as a temporary solution!

[2022-03-18 13:42] dacap commented on #3197
Hi @MM102, could you show what is the value of `DLG_import.data.importfile`, or a similar path that throws the same problem?

[2022-03-18 19:55] MattFright opened #3212 "Jumble Tool creates weird artifacts at the seams when tiled mode is on"
When using the jumble tool around the edges of the canvas with tiled mode on (where multiple tiles connect) it creates these weird artifacts at the seams, as if trying to jumble with pixels that don't exist instead of a seamless interaction between the tiled mode duplicates, as it'd normally work with other tools.

![image](https://user-images.githubusercontent.com/33336359/159073678-4112e88c-c368

[2022-03-19 11:17] behreajj opened #3213 "Lua Script Color Constructor Error"
Hello,

There is an error with the `Color{ hue=360.0, saturation=1.0, lightness=1.0, alpha=255 }` constructor.

[code]

Looks like the culprit is here: https://github.com/aseprite/aseprite/blob/main/src/app/script/color_class.cpp#L118 . `fromHsv` should be `fromHsl`.

Thank you,
Jeremy

[2022-03-19 22:56] Pythagoras-314 opened #3215 "(Request) Ability to turn off tool sliding"
On the right, with the bar containing all the brushes and tools and stuff, hovering your cursor shows other options (hovering over the mask box shows other mask options, for example). Sliding your cursor whilst clicking allows you to select between them. However for me at least it's annoying, and I would like a way to turn this off.

[2022-03-20 19:59] dustboxednorth opened #3217 "Pixel-to-Index Palette Conversion"
Hello,

Lately, I've been making a lot of color palettes. To do this, I put gradients within pixel-high selections in Affinity Photo.
However, quite often, when it comes time to actually have the image mapped into a color index, Aseprite unfortunately fails to get the job done, as the indices of the colors in the palette editor have zero correlation to the positions of the individual pixels contai

[2022-03-21 08:54] lampysprites opened #3218 "Scripting API: nil object error when comparing different types"
Consider this example:
[code]
Intuitively I'd expect the expression to simply return false, same as `"some string" == 33` for instance. Currently it shows `using a nil 'doc::Layer' object` error. That is a bit misleading: although the object can be nil there, usually it means that the type cast failed internally.

Posting here for the sake of documentation, functionally it's a minor issue. On the

[2022-03-21 13:58] dacap opened #3219 "New brush manager"
Issue created from #1387 and other comments:

- [ ] New brushes manager (https://github.com/aseprite/aseprite/issues/175) with [preset brushes and patterns](https://twitter.com/cyangmou/status/818191210732994566)
- [ ] Possibility to Import/Export brushes
- [ ] Named brushes
- [ ] Import GG brushes ([1bpp bmps](https://twitter.com/not_surt/status/818200706255437824))
- [ ] Brushes should be in ext

[2022-03-21 14:55] Gasparoken commented on #3212
Thanks for this report. I cannot reproduce it. Could you share additional details: sprite size, zoom level, the aseprite file?

[2022-03-21 15:13] dacap opened #3220 "Custom brushes are not saved"
We've received some bug reports where the brushes are not saved. Maybe because a crash at the exit? (In Sentry we have some crash reports about some crashes at the exit, e.g. when using app.events, etc.)

Probably we should save the `user.aseprite-brushes` file every time we add/delete a brush on it.

[2022-03-21 15:28] MattFright commented on #3212
Sprite size is 512x256 (i know, unusually high, but i like to make texture sheets on top of a single big base texture...which doesn't seem to be too uncommon of an use), this seems to happen regardless of zoom level (max, minimum, and everything in between). In testing here i've also noticed that this only happens if you jumble at the very edge of the sprite but without directly jumbling on top of

[2022-03-21 15:44] Gasparoken commented on #3212
Thank you! Yes, I was able to reproduce

[2022-03-21 18:16] jetrotal commented on #2704
Request by [SliminyJim](https://github.com/SliminyJim) on https://github.com/aseprite/aseprite/issues/2976

![image](https://user-images.githubusercontent.com/45118493/159333508-0e3f6e41-08b3-41a1-8fd0-485a68b35088.png)
![image](https://user-images.githubusercontent.com/91680612/135474079-cc4494b2-db0f-4229-aa4d-f795da918543.gif)

------------

A concept for game engines, showed on [Jacob's video]

[2022-03-22 14:58] aleskuro opened #3221 "sprites are not loading"
Describe your bug report or feature request here
... sprites
... are
... not
... loading

### Aseprite and System version

* Aseprite version: version number, installer/portable/Steam/beta/dev/commit-hash
* System: Windows/macOS/Linux, version, distribution

[2022-03-22 15:08] dacap commented on #3221
Hi @aleskuro, we'll need some extra information, how are you loading the files? from where? what operating system are you using? what version of Aseprite?

[2022-03-22 22:18] #3203 closed

[2022-03-25 01:49] cgbeutler commented on #3163
@Gnumaru If you have programming know-how and are getting a work pipeline up and going, I recommend writing a quick export tool.

My custom exporter adds a new button to the `File` menu called `Export for Godot`. It currently:
- Skips all layers prefixed with an underscore `_`
- Exports all layer groups prefixed with a `>` to their own file
- Outputs a json file formatted and named for my custom G

[2022-03-25 05:50] FabianPaci opened #3222 "not using current clipboard"
I'm using xclip to copy things to a clipboard, images don't seem to paste in to Aseprite when copied and instead it pastes the last "paste-able" object. if i copy an image from a browser it works fine even though [decap's clip libarary](https://github.com/dacap/clip) says it works with x11 (which I'm obviously using).

### Aseprite and System version

* Aseprite version: 1.2.34.1-x64, Steam
* Syst

[2022-03-25 06:48] FabianPaci commented on #3222
Never mind, it seems it ran with proton by default.

[2022-03-25 06:48] #3222 closed

[2022-03-25 14:02] dacap commented on #3217
Hi @dustboxednorth, sorry but I don't quite understand what you are looking for. What do you want to achieve exactly? And if Aseprite is doing something wrong, what steps we can do to reproduce it?

[2022-03-25 14:07] #3221 closed

[2022-03-25 14:09] dacap commented on #3215
Hi @Pythagoras-314, I think there is a bug in the toolbox from a long time ago (maybe from the initial times) that leave the toolbox in a state of "open sub-group of tools in case of hover", because those popups should appear only if we click. After we select a tool, another click should necessary to open the popup (never in a hover). I'll take a look to this soon.

[2022-03-25 15:45] behreajj opened #3223 "For Invalid Coordinates, Get Pixel Return Wraps"
Hello,

This is fairly minor, but I'm filing an issue in case it points to other more important problems. I found it when researching a documentation pull request https://github.com/aseprite/api/pull/73 . In this Lua script

[code]

it looks like https://github.com/aseprite/aseprite/blob/main/src/doc/primitives.cpp#L25 casts a signed integer to a `color_t`, which is an `uint32_t`. `-1` becomes `42

[2022-03-26 01:50] Pythagoras-314 commented on #3215
I thought it was potentially intended, as if someone wasn't as clumsy as I they could probably make use of it, as you just drag your cursor over to the tool you want instead of clicking to open the sub-menu and clicking again to select a tool. It being a bug is also somewhat interesting. Maybe it could taken with the Mojang approach and just implement a switch in preferences to toggle this behavio

[2022-03-26 12:58] dacap opened #3224 "Possibility to move groups as a unit"
Some desirable features from the very beginning of groups is is the possibility to move the whole group as a unit, so all children are moved relative to the group. A specific use case: https://community.aseprite.org/t/any-way-to-save-reuse-x-y-coordinates/13603/7

[2022-03-26 13:00] dacap opened #3225 "Compose groups separately from all other layers"
The default way to composition should be to compose groups first, and then blend groups as a layer. This would allow to specify a blend mode for groups too (or [mask layers](https://github.com/aseprite/aseprite/issues/459)).

A first step was implemented (ffc3684b1bd0887b8d9ab803430c7082fb488a46) by @belchiorg and @gui-marc in #4507. It's an experimental implementation as it requires some extra me

[2022-03-26 21:58] oceanhahn opened #3226 "Allow New Sprite from Selection to check the Timeline as well as the Workspace"
Normally, New Sprite From Selection creates a new Workspace from a selection in the Editor, and is disabled when there are no pixels selected.
My proposal is to have it also check for Cels selected on the Timeline as well, cropping to selected pixels if there are any, or using the entire Canvas if no pixels are selected.

If there is a selection in neither the editor Workspace nor Timeline, then t

[2022-03-26 22:59] DuendeInexistente opened #3227 "Trying to do bulk operations in cells can spam console windows that make aseprite unusable"
When trying to do cell operations, it's possible and relatively common to get a "Cannot perform operation" error

![image](https://user-images.githubusercontent.com/20157727/160259711-fa1a6f90-734a-4ff9-907a-e42bfdec3c16.png)

The issue with this is, if you're trying to do it with multiple selected cells, the errors won't use the same console window; Each individual cell will pop a new console the

[2022-03-27 08:22] trollertroll opened #3228 "bin/aseprite.exe fatal error LNK1181 laf-ft.lib"
I am using skia m96
https://github.com/aseprite/skia/releases/tag/m96-2f1f21b8a9

Aseprite v1.3 beta 14
https://github.com/aseprite/aseprite/releases/tag/v1.3-beta14

Visual studio 2022 community

Windows 11

C:\Dev\Aseprite\build>ninja aseprite
[1/1] Linking CXX executable bin\aseprite.exe
FAILED: bin/aseprite.exe
cmd.exe /C "cd . && C:\Dev\CMake\bin\cmake.exe -E vs_link_exe --intdir=src\CMakeFil

[2022-03-28 12:26] turesiht opened #3229 "Double clicking includes dots (Feature Request)"
Currently, when editing text in Aseprite double clicking on it will select it like in the following example:

Let's say you have a file name "ex.png".  You want to save it as "file.png", double click on the word "ex" and the whole "ex.png" is now selected. What I propose is making a dot as a divider in such case. So if I double click "ex" it selects "ex" or if I double click "png" it selects "png"

[2022-03-29 01:27] Wiering opened #3230 "Feature request: "Add to index" / "Subtract from index" layer modes"
Something I still miss in Aseprite is a way to easily reuse the same graphics, but shifted to a different area of the palette.

I'd like to propose these Layer Modes (in addition to normal, darken, multiply, etc.) when using Color Mode: Indexed:

- Add to index
- Subtract from index

This would add or subtract the palette index of each pixel in this layer to/from the index below it (unless it is t

[2022-03-30 02:17] #3213 closed

[2022-03-30 02:18] dacap commented on #3213
Fixed in https://github.com/aseprite/aseprite/commit/d429797359e59e35f7bb9aa35c6ee71b663406e2

[2022-03-30 03:59] agameraaron opened #3231 "Sprite:close() in Lua scripting hangs Aseprite."
When using Lua scripting, using "Sprite:close()" freezes Aseprite.

* Aseprite version: 1.2.34.1, 64-bit, Steam
* System: Manjaro Linux, KDE5

Demonstration file included, just get rid of the .txt, put it in your scripts folder and run it.
[sprite close freezes aseprite.lua.txt](https://github.com/aseprite/aseprite/files/8376877/sprite.close.freezes.aseprite.lua.txt)

[2022-03-30 18:04] dacap commented on #3231
Hi @agameraaron, it looks like calling `Sprite:close()` inside a `app.transaction()` is the problem.
[code]

[2022-03-31 05:38] drhayes commented on #3184
It kinda sounds like what you're asking for is handled with slices, unless I'm misunderstanding?

https://www.aseprite.org/docs/slices/

Once you've designated some slices there are options in the CLI to export just the slices themselves.

[2022-03-31 11:36] Gasparoken commented on #3230
Hi @Wiering. Interesting feature to implement. This can be useful if you have a tilemap scenario with tiles of different colors but same design. So, with a simple tile + this "shift color layer mode" you could avoid keeping a tile from each color.

Just a comment: currently, there are a couple of workaround to shift colors in bulk from UI:
- Paint Bucket + 255 tolerance + Shading Ink: details here

[2022-03-31 13:16] dacap commented on #1157
That's right, you have to use Shift+click to pick another layer (and you can just press the LMB and drag the mouse to select a range of adjacent layers).

[2022-03-31 13:42] oceanhahn commented on #2668
Aa, shoot, I missed this reply s:
Sorry for the late response--

Everything you say about the features is correct, and you are correct that I want a result that includes an option to produce a Timeline animation with the layer data intact. I am requesting an option that **toggles this behaviour,** not for the **current behaviour to be replaced,** so worry not; your workflow is safe. :p
There is an

[2022-03-31 14:00] Gasparoken commented on #2668
How about to recover animation with Layer data from a sheet.png + sheet.json (json data exported previously with the flag --split-layers).
This can be done 'built in feature' but it'll be Low Priority because is scriptable (I did a script this week for an Exporting Sprite Sheet test case, and it do that: rebuild the animation (layer splitted) starting from sheet.png + sheet.json). Later, I'll uplo

[2022-03-31 14:18] oceanhahn commented on #2668
I am not sure what you are suggesting. ^^;
The basis of the issue is an Export Sprite Sheet option that produces a new .ase Workspace which converts spritesheet-layout layers into Timeline-layers separately, instead of a single layer after flattening them.

Reconstruction from .json data is.. overengineering? I am not sure I get it; please explain. ^^;
Thanks!

[2022-03-31 14:23] oceanhahn commented on #2668
Oh, or do you mean that the script processes each layer separately then reassembles the animation on output, into its constituent layers?

Can you show me the script, or a recording of how it works?
I could probably make it myself but I do not know any Lua. :sweat_smile:

[2022-03-31 14:27] F8ER commented on #1157
Thank you for the reply. Of course, this allows to select adjusted layers, but what if you have to select non-adjusted ones? For example "1 and 3"?

[2022-03-31 14:30] dacap commented on #1157
When you say "adjusted" you mean "adjacent" right? In the case that you want to select 1 and 3, you can click layer 1, and then press Shift+click in the 3 layer:

<img width="306" alt="Screen Shot 2022-03-31 at 11 30 14" src="https://user-images.githubusercontent.com/39654/161079664-a4699aee-7074-4d9a-8948-1410cffff5ed.png">

[2022-03-31 14:46] Gasparoken commented on #2668
It's a draft: https://github.com/Gasparoken/asepriteScripts/blob/master/DRAFTimportSpriteSheetFromPngJson.lua

[2022-03-31 14:53] dacap opened #3233 "Include native json.encode/decode() functions to Lua API"
In this way we could avoid using [json.lua](https://github.com/rxi/json.lua). Maybe related to https://github.com/aseprite/api/issues/10 (to use something like `local json = require "json"`).

We can find a list of JSON modules here: http://lua-users.org/wiki/JsonModules

[2022-03-31 16:52] dacap opened #3234 "Add support to serialize a Color into plugin preferences"
We should add a way to save a Color in a json file (as a string?), related to #3233. Maybe adding a __tostring to Color, and then constructing a Color from a string (could we use the same format used in .ini fies?)

[2022-03-31 19:49] #2600 closed

[2022-03-31 22:38] codedcosmos commented on #2051
What does aseprite use for it's underlying renderer? What parts would need to be replaced to support different color maps & HDR?

Currently Linux doesn't support HDR outside of stadia, but [work is being done to change that](https://gitlab.freedesktop.org/wayland/weston/-/issues/467).

Windows however does support HDR so I guess that's where the first implementation of HDR for aseprite will have t

[2022-03-31 22:40] F8ER commented on #1157
Oh! Thank you! I see. It seems the yellow box confused me, though I had to look at the layer line foreground and background colors.
Is it possible to deselect a particular selected layer while multiple are selected?

[2022-04-01 09:25] thomasgoldstein opened #3235 "Create a sprite sheet from multiple .aseprite files"
Hello. This is for a feature request, which from what I've seen has not been requested and is not supported. Correct me if I'm wrong!

I have multiple .aseprite files that represent all of the possible animations for a given character. They’re like stand.aseprite, walk.aseprite, run.aseprite, etc. For the sake of simplicity, let’s call them anim1.aseprite, anim2.aseprite, anim3.aseprite, etc.

I’d

[2022-04-02 22:19] dustboxednorth commented on #3217
sorry, what I mean is this: Does Aseprite have the ability to map each pixel's coordinates from a chosen raster image to its own index in a color palette? it'd make color palette creation a lot easier for me, since my workflow is a bit strange.

[2022-04-02 22:56] IbraRouisDev commented on #3228
you have to clone the repo with its submodules `git clone --recursive https://github.com/aseprite/aseprite`

[2022-04-03 19:52] Bowers-L commented on #3228
Try running CMake a second time, and then run Ninja. For whatever reason I was getting this error too with the same file, but when I ran CMake again it was able to compile successfully.

[2022-04-03 20:57] thomasgoldstein commented on #3235
Having played more with the CLI, it seems it's already supported. The CLI supports multiple paths, even though I'm not sure it's documented. I could not find this information on the CLI page (https://www.aseprite.org/docs/cli), but maybe I've overlooked it.

This command works just like the "Reference all the .aseprite files that need to compose the sprite sheet, then generate it in one go" option

[2022-04-03 20:57] #3235 closed

[2022-04-03 23:22] #2456 closed

[2022-04-04 10:38] natebot13 commented on #1514
I'm running into this issue now too. I need to associate the tag with the frames to get the animation direction. Currently I have the frames formatted with `{title}|{tag}|{frame}` and that works since I can split the name to get the tags, but associating the tag's animation direction is proving to be a huge pain. Is there a better way?

[2022-04-04 13:04] dacap commented on #2456
Hi @CenTdemeern1 I guess this issue was closed because the Sprite > Canvas command contains an option to trim the content outside the canvas:

![image](https://user-images.githubusercontent.com/39654/161549652-d816643f-7ddb-46b4-90e6-0c686308ed73.png)

Just leaving this comment in case other user see this in the future.

[2022-04-04 14:49] Gasparoken opened #3236 "Eyedropper shortcut not working as expected in particular circumstances"
Unexpected behaviors:
1. Eyedropper shortcut (Alt+click) not pick up the color in one click in other non active sprite (two are needed)
2. When zoom tool is active, eyedropper shortcut (Alt+click) do a "zoom in" action on the first click in other non active sprite, instead picking the color.

How to reproduce the bug:

Common actions to both:
- New sprite RGBA. Paint something (sprite A).
- New sp

[2022-04-04 17:51] crackerberries commented on #2671
I've been experiencing this too. You can Super+Tab to move around in your system, but you cannot interact with the shell at all.

This really needs to be fixed.

[2022-04-06 02:37] sentry-io[bot] opened #3237 "Crash using script::Engine at exit to print console output (e.g. in Dialog close event)"
Sentry Issue: [ASEPRITE-7D](https://sentry.io/organizations/igara-studio/issues/3156706764/?referrer=github_integration)

This crash happens when a Lua error happens in a Dialog onclose event handler (so the `App::m_engine` is `nullptr` and cannot be used to print the error).

[code]

[2022-04-06 03:00] #3237 closed

[2022-04-07 03:13] lonely-unicorn opened #3238 "free tool"
Hi

On the website I can read this tool is needed to be bought.
But here i find the source code.

So is there a free version too?
I don't understand

[2022-04-07 03:16] lunathir commented on #3238
So, paying is more for convenience and supporting the devs more than anything, but you can use it for free if, and only if, you compile it yourself and only for yourself.

[2022-04-07 11:01] Gasparoken commented on #3238
Hi @lonely-unicorn. Here are the instructions to compile Aseprite: https://github.com/aseprite/aseprite/blob/main/INSTALL.md
The drawback of getting Aseprite through this way: it cost time (more than 2 hours), GB of your HDD, and errors may appear during the build process.

[2022-04-07 12:12] dacap commented on #3238
Here some extra questions answered in the past about it:

* https://www.aseprite.org/faq/#if-aseprite-source-code-is-available-how-is-that-you-are-selling-it
* https://community.aseprite.org/t/eula-and-faq-confusion/9377

Basically making the source code available is a way to promote external contributions, get access to the program if you cannot afford it, and pay it when you can.

[2022-04-07 12:12] #3238 closed

[2022-04-07 15:13] dacap opened #3239 "Create a new command to open popup menus so we can re-assign those shortcuts"
At the moment it's impossible to re-assign Alt+S, or Alt+F, etc. From: https://steamcommunity.com/app/431730/discussions/0/3280317523009774579/

Related to an old item/issue named here: https://github.com/aseprite/aseprite/issues/999#issuecomment-192400652

- [ ] Add a command/keyboard shortcut to show the palette menu popup (it might be Alt+P)

[2022-04-07 16:38] lonely-unicorn commented on #3238
Where can I see the full list of things I can put after "cmake"?
Because I don't really know the contents of CMakeLists.txt

cmake -G "Visual Studio 17 2022" is all I need just for visual studio on windows? (I don't need another platform)

[2022-04-07 16:50] dacap commented on #3238
You have to follow the INSTALL.md guide (and you will need to [compile or download Skia](https://github.com/aseprite/skia) first). The cmake command needs several extra parameters, you can check the details here:

https://github.com/aseprite/aseprite/blob/main/INSTALL.md#windows-details

Anyway these are not easy steps if you are not a programmer. So you will need to read the whole guide to avoid

[2022-04-07 23:10] dacap opened #3240 "Tilemap features for first stable v1.3"
For a first v1.3, we should need the following items from #977:

- [ ] Export tilemap & tileset (UI and CLI), we've used https://github.com/dacap/export-aseprite-file so far
- [ ] When a sprite contains tilemap layers, the sprite properties dialog should show a section of "tilesets":
  - [ ] We should be able to reorder tilesets
  - [ ] We should be able to add new tilesets

All other features wil

[2022-04-08 00:39] lonely-unicorn commented on #3238
What a piece of junk

[2022-04-08 10:43] beetrootpaul opened #3242 "[bug] Cels are not updating their UI after pasting them, mouse movement over them is required to update them"
Cels are not updating their UI after pasting them. I have to move mouse over them to see their updated state. It gets super misleading during work on a longer animation with repetitive parts.

Steps to reproduce:

1. Open Aseprite and create a new file, for example 32x32 px, RGBA, transparent background2.
2. Open Timeline, create a new layer ("Layer 2") and add 7 more frames to have them 8 in tota

[2022-04-08 11:17] dacap commented on #3242
Hi @beetrootpaul, thanks for the bug report. I was able to reproduce (I think this is not present in v1.2.34.1, so it might be a regression).

[2022-04-08 11:37] Gasparoken commented on #2823
Identical crash on Mac OS X 10.15.6, Aseprite version 1.2.27

Crash report:

- https://igarastudio.zendesk.com/agent/tickets/3422

[2022-04-08 23:35] balt-is-you-and-shift commented on #2183
I've been getting this, but it immediately unhangs, if that's the word for it, when I resize the window.

[2022-04-09 07:35] VelocityRa commented on #2002
Any news on this? It's been 3 years.

[2022-04-09 11:09] nettleflap opened #3243 "[Regression] Shift+Ctrl line functionality draws an additional line"
When I hold Shift+Ctrl to draw a straight line that snaps to a 22.5 increment angle and click to draw the line, it draws an additional second line from the visible endpoint to where the cursor is.

![linebugase](https://user-images.githubusercontent.com/8578188/162569280-4d3bd8ad-a1bc-44e8-a615-8e9d1ebb4914.gif)

I experienced this for the first time around Feb 11.

This is a regression, it wouldn

[2022-04-09 13:02] lunathir commented on #3243
Duplicate of #3196

[2022-04-09 18:07] haliphax commented on #2880
I rebuilt that helper script mentioned earlier, which seems to be for Ubuntu 20.04. I changed it to compile Skia and Aseprite both from source. This has been the only way I was able to make it work, and I've been messing with it for days.

https://gist.github.com/haliphax/d2aff10aa369d5a2e51a615e202e92a7

[2022-04-09 22:23] UserDev987 opened #3244 "ninja: error: unknown target 'aseprite'"
Describe your bug report or feature request here
After compiling successfully, I executed ninja aseprite, but I get the following error, ninja: error: unknown target 'aseprite', how could I solve this issue please

* System: Linux Mint 20.3 x86_64
that's the latest asperite version

the command is being exected in this dir
/deps/skia/out/Release-x64

[2022-04-10 07:15] sainthkh commented on #2950
This is happening when the parent folder is deleted when `get_fileitem_by_fullpidl` tracks up the parent folders.

It's really rare case. Because an outside process should delete the folder while Aseprite is walking up the hierarchy.

But it can be simply solved by throwing an error.

If you want to reproduce this problem, follow these steps below. As it's a crash because of the multiple processes

[2022-04-10 09:15] #3244 closed

[2022-04-10 20:53] thomaseding commented on #121
For those curious about this algorithm, here is a revised wikipedia link: https://en.wikipedia.org/wiki/Pixel-art_scaling_algorithms#RotSprite

[2022-04-11 03:04] nijikokun opened #3246 "Set selection to fixed size"
Something that I really miss from Photoshop is being able to set the selection area to a fixed size.

It really helps when dealing with pixel art.

<img width="692" alt="Screen Shot 2022-04-10 at 8 01 48 PM" src="https://user-images.githubusercontent.com/198276/162658249-a0d7ad86-c25e-472a-a473-4fc757b65412.png">

I am aware that you can double click to get squares but this is better for when you

[2022-04-11 06:43] UliAbo commented on #114
Any news about the progress of loading PSD files into Aseprite? It would be awesome! :)
Thanks for an update in advance.

[2022-04-11 11:17] uykuda opened #3247 "%150 Screen Scale"
Describe your bug report or feature request here
...100% is too small
...200% too big
...so 150% can be added

### Aseprite and System version

* Aseprite version: 1.2.32x64, portable
* System: Windows

[2022-04-11 11:57] dacap commented on #114
Hi @UliAbo, actually this feature was postponed as we don't have anybody working on this right now but there are future plans to bring some psd support.

[2022-04-11 12:09] dacap commented on #3247
Hi @uykuda, it's duplicate from #2682, this scale was asked before, the only issue would be that the scaling is not pixel-perfect, so it will show some kind of distortion, but it might be minimal, we've to check if we can enable this kind of scaling in a near future.

[2022-04-11 12:09] #3247 closed

[2022-04-11 12:13] dacap commented on #3243
Thanks @nettleflap and @lunathir for the bug reports, it looks like a duplicate, anyway the gif image to see the bug is really helpful.

[2022-04-11 12:13] #3243 closed

[2022-04-12 22:13] #3196 closed

[2022-04-13 02:41] DDRKirbyISQ opened #3248 "No longer runs on Windows Server 2012 (?)"
This is a strange issue that I'm scratching my head at -- Aseprite no longer runs (at all) on the Windows Server 2012 partition of my macbook air (2012) despite having fully functioned a while ago.

I am aware that WS2012 is an obscure OS, however most apps have run fine on this machine, **including Aseprite itself**, until some time ago (past few months?).

Behavior:
- Running the program has no

[2022-04-13 02:54] dacap commented on #3248
Hi @DDRKirbyISQ, could you please try the [troubleshooting guide](https://www.aseprite.org/docs/troubleshooting/)?

[2022-04-13 03:49] DDRKirbyISQ commented on #3248
My apologies, I should have searched for that guide :x

After reading the guide and seeing that the -debug flag attempts to create a log file on your desktop, I immediately realized what the issue was:  **My desktop folder is currently invalid. =/**

I've changed my desktop folder to point to a network drive (technically, a folder within Google Drive's virtual drive) which currently is inactive (G

[2022-04-13 03:49] #3248 closed

[2022-04-13 05:31] coyo-t opened #3249 "Setting to treat a group layer as if it were a merged layer"
This is something [Krita does](https://docs.krita.org/en/user_manual/layers_and_masks.html#how-are-layers-composited-in-krita) that is exceptionally helpful and I feel it would greatly increase Aseprite's flexibility, especially in what you can do with scripting.

For example, using `layer:cel()` on a group layer currently just returns `nil` regardless of if the combined output would have a cel th

[2022-04-13 12:04] sentry-io[bot] opened #3250 "Crash reloading main menu bar when executing exit actions from extensions"
Sentry Issue: [ASEPRITE-T](https://sentry.io/organizations/igara-studio/issues/2936534211/?referrer=github_integration)

[code]

[2022-04-14 12:52] API-Beast opened #3251 "Add a Timer to the Lua API to suspend interactive scripts"
Right now the only way to wait for some time in a lua script is to do a busy wait:

[code]

However this will lock up the entire program until the sleep function has returned.

If a Timer class or similar would be added, or simply a callback that is called every n seconds it would open up some new ways scripts can interact with the user. In my case I was trying to implement a timeout to WebSocket

[2022-04-14 16:17] Zaksaysar opened #3252 "Problem with installing aseprite"
Describe your bug report or feature request here
... **Example of my installation after use  cd C:\aseprite\build ninja aseprite**
[1477/1528] Building CXX object src\app\CMakeFiles\app-lib.dir\script\cels_class.cpp.obj
C:\aseprite\aseprite\src\app\script\cels_class.cpp(64): warning C4018: "<=":  niezgodność typu ze znakiem/bez znaku(type mismatch with/without sign)
... **At the end I have it**
[1

[2022-04-14 16:32] #3252 closed

[2022-04-14 17:56] Kuki01 opened #3253 "Downloaded file recognized as virus TTF:CVE-2012"
Hello,
Avast recognized this file: "Aseprite-v1.3-beta14-Source.zip" as specific virus - exploit (TTF:CVE-2012). Downloading "Source code (zip)" is fine. So... Aseprite is safe, sure. Just when I see this specific virus I wonder if it means more then just fake antivirus ringing on bell.
![obrazek](https://user-images.githubusercontent.com/103676363/163449007-7b17836e-f2ee-4510-bb34-2a1f16598bad.pn

[2022-04-14 21:18] DenisPolishchuk commented on #3253
just delete avast, this antivirus is soooo bad :)

[2022-04-15 00:51] KrisysTheFool opened #3254 "Issue with copy/pasting on hidden layers"
I've noticed over a hundred or so hours that ctrl+c / ctrl+v behaves in a weird and sometimes disturbing way when a hidden layer is selected. Whenever I have an area of the picture selected with the marquee tool, and I've picked a hidden layer in the layer list, pressing ctrl+c or ctrl+v (if I've noticed that correctly, still not entirely sure on the specifics of what happens) will erase whatever

[2022-04-15 12:23] dpacbach opened #3255 "Menus not visible on Linux while in fullscreen with native windows enabled"
Using the DWM tiling window manager on Linux, when I enable native windows and then enter fullscreen mode, I cannot open the menus.  I suspect that they are appearing as separate windows, which the DWM window manager will then not display because the main window is full-screened.  When I disable the native windows experimental feature then the problem goes away.

I was hoping that the fix for issu

[2022-04-16 06:20] Kuki01 commented on #3253
so it really doesnt metter when it is specific virus...?

[2022-04-16 12:10] dacap commented on #3253
Hi @Kuki01, actually it doesn't make sense that an antivirus mark "Aseprite-v1.3-beta14-Source.zip" with a virus, because it contains only source code (no binaries/executable code).

I've just sent the URL to Virus Total and there is no detection: https://www.virustotal.com/gui/url/419b2344fbfd77fecfd78174e71e73c5759e7a697469c13dc300dfc2f6236e4a/detection

Maybe you could check if the SHA1 checksu

[2022-04-17 11:27] Kuki01 commented on #3253
In the of the virus there is path to problematic file and it leads to Harfbuzz.
https://github.com/harfbuzz/harfbuzz/issues/2750
The creator recognize this problem and does nothing about it. Just refering to usual fake threads of anitiviruses and I guess his reliability. So rather then man-in-the-middle it is this third party... I guess.
And thank you for advise.

[2022-04-17 11:33] Kuki01 commented on #3253
And my SHA1 is the same:
60a9508fb6e4d3f03912e1daadb4113fac3dd0bc

[2022-04-18 07:42] nijikokun opened #3256 "Application slows over time on MacOS"
Over time while using Aseprite on MacOS the application becomes noticeably sluggish to select or draw. This only affects Aseprite on my machine.

I would say that it takes about 2-3 hours before it becomes slow, then I have to completely restart the application. This happens consistently, it also happened on the previous beta as well. I was hoping the new release would fix it, but it has not.

I w

[2022-04-18 12:04] jsomedon opened #3257 "build fails on apple silicon: fatal error: 'blake2.h' file not found"
I was following [INSTALL.md](https://github.com/aseprite/aseprite/blob/main/INSTALL.md)(along with the apple silicon specific tip) to build on my macbook pro with m1 chip, and I got build failure saying:

[code]

### Aseprite and System version

* Aseprite version:  Aseprite v1.3-beta14
* System: macOS 12.3.1 (on Apple m1 Pro)

[2022-04-18 13:25] #2088 closed

[2022-04-18 13:29] dacap commented on #2900
Similar request in: https://igarastudio.zendesk.com/agent/tickets/3452 where we should be able to use any image as a color selector/picker.

An arbitrary image to pick colors is good, but the problem appears when we want to match the current color into some area of the reference image (which generally is solved with some math equations, instead of a brute force search).

[2022-04-18 17:20] 2231puppy commented on #3257
Can confirm. I'm having the same problem on the M1 MacBook Air.

[2022-04-18 19:40] dacap commented on #3257
Hi there, I think I never saw this issue, could you check what happens if you define `ENABLE_LIBB2:BOOL=OFF` in the CMakeCache.txt file (it's a file in the build directory)

[2022-04-19 00:37] jsomedon commented on #3257
Hmm I don't see such file.. Does this file get generated after build?

[2022-04-19 02:08] jsomedon opened #3258 "doc on creating .app bundle on macos?"
Following the INSTALL.md only gives me binary build. While that's totally usable I would prefer to have a .app bundle to use. Is there any doc on this?

[2022-04-19 20:53] thkwznk opened #3259 "Plugin preferences are wiped after updating an extension"
Plugin preferences are wiped clean after updating an extension. I'm assuming this is a consequence of them being stored in the same folder as the extension, and just being removed with the other files when the old version is deleted.

It is very inconvenient for any extension that uses these preferences heavily, as the user will lose all of the data saved there, probably with very little understan

[2022-04-19 21:07] dacap commented on #3259
Thanks for reporting this @thkwznk, I'll try to fix this ASAP for the next release.

[2022-04-19 23:28] dacap opened #3260 "Graphics::doUIStringAlgorithm might break a utf8 string in an invalid place"
If there is not enough room, `Graphics::doUIStringAlgorithm` will start [making the string shorter](https://github.com/aseprite/aseprite/blob/e4c29953264ed4aac8aed43bfcadf5ca7c627087/src/ui/graphics.cpp#L535), but decreasing the end side without taking care of the UTF8 encoding, and [creating a substr() from it](https://github.com/aseprite/aseprite/blob/e4c29953264ed4aac8aed43bfcadf5ca7c627087/src

[2022-04-20 18:22] dacap commented on #3253
From what I saw they fixed this [removing the problematic file](https://github.com/harfbuzz/harfbuzz/commit/33a0f0b6860e0a48f92bc855c179a0fc5864112f). So probably when we update Skia + harfbuzz in a future, this will be fixed. Thanks for sharing this information anyway!

[2022-04-21 14:17] dacap commented on #3242
I've already assigned this to myself :+1: to be fixed before the next release

[2022-04-21 23:43] #3229 closed

[2022-04-21 23:43] #3260 closed

[2022-04-21 23:48] #3257 closed

[2022-04-22 00:23] Cosmic-Whale opened #3261 "Pixel Text"
Be able to create pixelated Text easily like shortcut: crtl + alt + n
to create pixelaretd GUI's?

[2022-04-22 13:02] #3259 closed

[2022-04-22 13:05] #3258 closed

[2022-04-22 13:07] dacap commented on #3249
Hi @coyo-t, this is a duplicate of #3225, anyway I'm not sure if the Lua API will offer a direct access to the "composited cel" of the group (not yet sure how this will be finally implemented yet).

[2022-04-22 13:07] #3249 closed

[2022-04-22 19:20] oceanhahn commented on #3242
I meant to report this ages ago and I am glad someone got to it before me, so +1 more here! <3

[2022-04-22 19:24] oceanhahn opened #3262 "Duplicate Layer only duplicates one layer when multiple are selected."
About what it says on the tin.

I would have expected the "Duplicate" command to duplicate every selected Layer when it is invoked, but it instead only does one of them.

Thinking ahead on it, it would probably also be good if multiple *nonconsecutive* layers are selected (as using Shift-LMB to select specific ones on the Timeline), if they were duplicated with new layers adjacent to their origina

[2022-04-23 02:00] a2 opened #3263 "Aseprite reports update available (same version)"
I just updated Aseprite to v1.2.34.1 on my Mac and it says there is a new version available, but that new version has the same version number as the one I'm running (see screenshot).

<img width="752" alt="image" src="https://user-images.githubusercontent.com/241156/164863001-618c26da-b6cd-430b-b028-f4fc8975858b.png">

### Aseprite and System version

* Aseprite version: v1.2.34.1-arm64 from itch.

[2022-04-23 06:01] HeyItsLollie opened #3264 "Reference layer loses its scale when is removed via Undo and restored via Redo"
Version: 1.3-beta14-x64 (Windows 10, 64-bit, installed via Steam)
There is a small issue with reference layers where, if you Undo creating a reference layer, and then Redo it, its scale will not be restored.

![Aseprite_20220423_15-49-04-276](https://user-images.githubusercontent.com/30498581/164881366-0a971080-a59e-4bf6-bcbc-948c4b44035b.gif)

I encountered this by accident after I had to restore

[2022-04-23 07:17] HeyItsLollie opened #3265 "Custom Zoom Levels"
I'm surprised to find that this isn't currently possible: A way to use and manage custom zoom levels.

The Zoom slider in the bottom-right lets you type in a value, but Aseprite will automatically snap to a preset zoom level. If I type in 1000%, Aseprite will round down to 800%. There's seemingly no XML that governs zoom either, so I can't manually add my own zoom presets.

(Funnily, gui.xml has a

[2022-04-23 16:43] CenTdemeern1 commented on #2456
I closed this because I realized I was stupid and it wasn't a bug

[2022-04-25 16:25] dacap commented on #3242
I've noticed that renaming tags has a re-painting issue.

[2022-04-25 16:49] Gasparoken commented on #3242
Sorry, adding a new tag is fine. The update of the timeline is not performed when modifying tag ranges.

[2022-04-25 16:50] dacap commented on #3242
Oh nice, I'll fix that one too :+1:

[2022-04-25 17:46] dacap opened #3266 "Improve invalidation of widgets when something in a sprite changes"
We should avoid invalidating widgets multiple times for changes that happen in the same transaction. E.g. Adding several frame might invalidate the current editor/timeline multiple times, but it doesn't make sense to do it multiple times (and avoid calling `Widget::onInvalidateRegion` multiple times).

One possibility would be to create a "queue of changes" (`DocEvent` (?)) in `Transaction` and le

[2022-04-25 18:40] Gasparoken opened #3267 "Tilemap offset resets to 0 after exporting + resizing"
To reproduce this bug:

- New file
- Make tilemap layer grid 16x16 pixeles
- Draw a tile.
- Modify the canvas + 8 pixeles
- Go to _Files > Export_, output format: png, resize: 200%
- Output png is fine, but the tilemap offset is reset to 0.

### Aseprite and System version

* Aseprite version: 1.3beta14
* System: MacOS

[2022-04-25 19:13] #3242 closed

[2022-04-25 19:38] dacap opened #3268 "Detect fully occluded window to stop rendering frame-by-frame if we are in playback state"
We should be able to detect if the window is not visible anymore by the user to stop playing the animation, timer, and render frame-by-frame (or stop the animation automatically and start the animation again when we are back). This could be an option, as some users might want to continue the playback anyway (e.g. if the user is recording the window but the window is not visible, we should still co

[2022-04-25 23:50] dacap commented on #2999
Probably we could adopt C++17 as Ubuntu 16.04 is not supported anymore and 18.04 included g++8

https://en.cppreference.com/w/cpp/compiler_support

We should do some tests if compiling with clang-12 on Ubuntu 18.04 we can run the binary on Ubuntu 16.04. In other case it might be risky.

[2022-04-26 15:40] Gasparoken commented on #1418
@dacap Is this issue still valid?

[2022-04-26 15:46] dacap commented on #1418
Probably this is fixed, maybe with [7b07f29f0b0dc81a22d261552ac024009ec00482](https://github.com/aseprite/aseprite/commit/7b07f29f0b0dc81a22d261552ac024009ec00482#diff-9a625152116bb3d059677320fd5cb2765081b167578cff6bdc6486dec0bde858R284)

[2022-04-26 18:30] kintrix007 opened #3269 "Dependencies for other Linux distributions in INSTALL.md"
Describe your bug report or feature request here

I would like INSTALL.md to list the dependencies for more package managers of various Linux distributions.
My reason is that it is simply inconvenient having to try to figure out how given packages are named on other package managers.
Personally, I can add the install command with the names of the packages for Void Linux. I'm creating this issue be

[2022-04-26 20:28] dacap commented on #3269
Hi @kintrix007, unfortunately this is a situation that the authors of Linux distributions have created. Some time ago, we only offered the Ubuntu package names, and then we've added the Fedora ones. As you can see, we could add the package names/instructions for each Linux distribution, but that would be almost an infinite number of options to keep track.

My question is why they have decided to u

[2022-04-26 20:28] #3269 closed

[2022-04-26 20:41] dacap commented on #2560
I'm closing this issue as other third-party libraries are better solving this (like the cute_aseprite.h). Maybe in a future we could offer a separated library, but it should be a C wrapper of the C++ API of Aseprite, which I don't know that that would be as useful as a header-only library solution.

[2022-04-26 20:41] #2560 closed

[2022-04-26 21:43] kintrix007 commented on #3269
Oh, I mean it is definitely not only Void Linux, it is just one I know what the packages are for. Obviously the difference is not huge, but it is mostly a mix between the other three. One package is named like in Debian, another on like in Fedora etc. Just like they have an overlap and difference as well. NixOS, OpenSUSE and Gentoo, for example, would also have somewhat different package names but

[2022-04-26 21:49] kintrix007 commented on #3269
Also, I want to mention that this is due to the fact that these all use different package managers and not `apt`, `dnf` or `pacman`. My proposal was to find a way to include these in one way or another. I would take not more than half a screen, or maybe a screen at most to add most. Now if just one gets added then it really shouldn't be the Void Linux instructions, because very few people use it.

[2022-04-26 21:49] dacap commented on #3269
Exactly, that's when I wonder why all of them decided to use different package names. As you can see this is not an issue that should be addressed by each one of the app developers out there. But instead by Linux-distro authors.

I just cannot imagine how much time is spend just trying to find the correct package name on each distribution.

Anyway, there are no plans to include instructions for ot

[2022-04-26 21:52] kintrix007 commented on #3269
Alright, thank you for explaining!

[2022-04-27 05:57] AJ08Coder commented on #3244
Since you closed it, I assume you solved it and i'm having the same problem so I am wondering how you did solve it

[2022-04-27 05:58] AJ08Coder commented on #3113
I'm also having to same problem. Is there a guide to compiling skia somewhere or how did you compile skia?

[2022-04-27 12:49] Ryxmedia commented on #131
Any progress on this?

I would really love to have that feature as it takes a lot of time to copy paste each layer of a new image you want to add to your "currently working on" Aseprite file.

[2022-04-28 06:31] twuky commented on #3176
hi there, hope this is the right place. ive got an older wacom tablet (bamboo splash) which doesn't appear to accept pressure sensitivity in aseprite. Appears in xinput as such:
[code]

[2022-04-28 18:09] dacap commented on #3176
Hi @twuky, thanks, yes this is a correct place to report this. I'll try to add `"wacom bamboo connect pen pen"` as a possible string to detect the input stylus.

[2022-04-28 21:38] oceanhahn opened #3270 "Add "All Layers" setting to Export options "Layers" pull-down menu"
Just a small thing: when **File/Export..** replaced **Save Copy As**, it lost the ability to save every Layer of a Document regardless of visibility of selection state. Could this option could be (re)added to the Export pane?

Perhaps obviously, the purpose of it is to simplify saving history/recovery point files without having to interfere with the Document's current Layer visibility or Layer sel

[2022-04-29 01:52] #2667 closed

[2022-04-29 15:13] dacap commented on #1544
Something requested in [ticket 3452](https://igarastudio.zendesk.com/agent/tickets/3452) is the same 0%-100% range for RGB values.

[2022-04-29 18:33] sergeikrasnikov commented on #2880
I was able to build aseprite on Archlinux with skia pre built package.
As stated in https://github.com/aseprite/skia/releases
you have to use **clang** and **libc++**

To ensure that clang and  libc++ are used,  I modified CMakeLists.txt.
I added the following lines:

Then you should follow the install instructions for cmake & ninja.
https://github.com/aseprite/aseprite/blob/main/INSTALL.md

For s

[2022-04-29 18:42] sergeikrasnikov commented on #3209
Probably you should use clang and libc++
See my comment here https://github.com/aseprite/aseprite/issues/2880#issuecomment-1113605178

[2022-04-29 22:55] Wrong-Whale opened #3272 "GridLines"
Can we please have gridlines it feels more comfortable to know where you want to put it.

[2022-04-29 23:48] PureAsbestos commented on #3272
You are probably looking for `View > Show > Pixel Grid`

[2022-04-30 22:13] flowingss opened #3273 "build fail on macos"
"SSL: CERTIFICATE_VERIFY_FAILED"

The version of Aseprite: v1.2.34.1
macOS Mojave 10.14.6

I have no idea what the error means and I need someone to help me.

[2022-05-02 12:16] ryandesign commented on #3273
Can you post more information? What command did you run that produced this error, and what other output preceded or followed that error message?

[2022-05-02 14:05] #3272 closed

[2022-05-02 14:45] terbasthegood opened #3274 "Please Help! Marquee Tool becomes invisible in the greyscale mode"
Describe your bug report or feature request here
I use greyscale mode a lot. But I realized that the marquee tool becomes invisible (during the selection phase) in that mode. If I switch to RGB color mode, it becomes visible.
 

[2022-05-03 12:23] a2 commented on #3263
This seems to have fixed itself since I opened the issue.

[2022-05-03 12:26] dacap commented on #3263
Hi @a2, actually I think this is an issue but only for the first time Aseprite checks a new version (as it was [reported in other opportunities](https://community.aseprite.org/t/aseprite-v1-2-34-1-and-v1-3-beta13/12488/20?u=dacap)). It's still something to investigate.

[2022-05-03 21:37] #232 closed

[2022-05-03 21:42] dacap opened #3275 "Refresh list of files in file selector automatically"
Related to #2710 and #232 we should update the list of files in the FileSelector (i.e. do an automatic Refresh) if we switch to another app and go back to Aseprite. This will require aseprite/laf#30

[2022-05-04 00:33] nulldisk opened #3276 "Lua error inside app.transaction causes undefined behavior and crashes."
If Lua throws an error inside `app.transaction` it is causing undefined behavior, eventually leading to segmentation fault.

It can be as simple as:
[code]
This causes a lot of random undefined behavior, mostly related to the undo history not working anymore or getting corrupted. Weird things can happen with selections too. If you continue in this state segmentation fault happens eventually.

It i

[2022-05-04 12:47] Gasparoken commented on #3274
Hi @terbasthegood. I cannot reproduce it. What's your Aseprite version and OS?

[2022-05-04 13:26] behreajj commented on #3274
I was able to reproduce this. I suggested [terbasthegood](https://github.com/terbasthegood) post the issue here rather than on the [Steam forums](https://steamcommunity.com/app/431730/discussions/0/3275815186864662887/). I'm using Windows 10. This happens in both versions 1.2.34-x64 and 1.3-beta14-x64.

I'd post a screen shot, but there's not much to see. Instead, here are some reproduction steps:

[2022-05-05 08:23] terbasthegood commented on #3274
Thanks behreajj, I'm happy that you reproduced the issue. Since there definitely is a problem. No white preview visible. I hope the devs will do something about it soon.

[2022-05-05 11:17] Gasparoken commented on #3274
Thanks @behreajj and @terbasthegood. I was able to reproduce it, but only in Windows 11 and Aseprite 1.3beta14.
I cannot reproduce it in Windows 11 and Aseprite 1.2.34.1 (@behreajj could you confirm?).
Both Aseprite versions on MacOS are fine.

[2022-05-05 11:53] dacap commented on #3270
@oceanhahn just in case, do you want to export all layers as if they were visible in the same file? or save each layer in different files?

[2022-05-05 11:59] dacap commented on #3254
Hi @KrisysTheFool, what specific version of Aseprite are you using? (You can check the version of Aseprite in the title bar)

Some bugs related to this were fixed in [v1.2.26](https://www.aseprite.org/release-notes/12/#aseprite-v1-2-26) like #2680

[2022-05-05 12:02] dacap commented on #3246
Hi @nijikokun, could you please give a try to the [beta version](https://www.aseprite.org/beta/)? It contains some text fields in the context bar to change the position and size of the selection (I think it might be what you are looking for):

![image](https://user-images.githubusercontent.com/39654/166919103-01125412-3253-49a6-a1a3-039e44be8305.png)

[2022-05-05 12:17] oceanhahn commented on #3270
The former, although admittedly, both would be useful!

[2022-05-05 12:39] Gasparoken commented on #3265
Thanks @HeyItsLollie. Yes, there isn't a XML to customize this, instead the table is [defined within the code](https://github.com/aseprite/aseprite/blob/a5c36d0b0f3663d36a8105497458e86a41da310e/src/render/zoom.cpp#L18).
I think there are at least two options:

- Add some XML to give a way to customize Zoom Levels.
- Add a dialog triggered by a button "Customize Zoom Levels" in _Edit > Preferences

[2022-05-05 13:00] #2364 closed

[2022-05-05 13:39] behreajj commented on #3274
Today I only see it in 1.3 beta on Windows 10. Thought I checked, but could be I didn't switch over like I thought I did. I'll mention it if I encounter it again.

[2022-05-05 21:52] SplatTab opened #3277 "[Bug] Unable to load BMP Image"
Describe your bug report or feature request here
Unable to load BMP Image

### Aseprite and System version
v1.2.33-dev, Windows 10

The Image: https://raw.githubusercontent.com/limine-bootloader/limine/trunk/test/bg.bmp

Error Loading frame 1 from file "C:\Users\Blah\Pictures\bg.bmp"

[2022-05-06 17:15] nijikokun commented on #3246
@dacap I'm on the beta but I don't see those?

![image](https://user-images.githubusercontent.com/198276/167180723-bd878ea3-2a2d-4d31-b924-f955f6f11d24.png)

[2022-05-06 19:13] Gasparoken commented on #3277
Thanks @SplatTab for this report. I was able to reproduce it. The problem is that the image has a BMP which internal _Info Header Size_ isn't supported by Aseprite. In [this if/else if](https://github.com/aseprite/aseprite/blob/a5c36d0b0f3663d36a8105497458e86a41da310e/src/app/file/bmp_format.cpp#L630) we can see only two possible _Info Header Sizes_:

- WININFOHEADERSIZE == 40
- OS2INFOHEADERSIZE

[2022-05-07 15:20] dacap opened #3278 "Cel Properties dialog causes "locked sprite" issues if we copy a range of cels in the timeline"
Reported here: https://community.aseprite.org/t/cel-properties-window-causing-issues-when-overwriting-deleting-groups-of-cels/14170

[2022-05-08 00:05] oceanhahn opened #3279 "Add a secret third colour. (Wait, just hear me out--)"
Right now, ASEprite allows you a Foreground Colour and a Background Colour, normally assigned to the Left and Right Mouse Buttons, respectively.

But what if I told you... there was a _third_ mouse button? A mouse button that has never had a chance to have a _colour of its own_??

What I propose is an Tertiary Colour besides Foreground and Background that draws when the Middle Mouse Button is invo

[2022-05-08 14:26] D-T-666 commented on #2492
tried that but it gives me this error. I think it might be related to relative importing from `data/`?

<img width="292" alt="image" src="https://user-images.githubusercontent.com/35934791/167300786-e2de18e9-e0e9-476b-a045-9cf735d3b728.png">

[2022-05-09 11:39] iQrz opened #3280 "https://github.com/curl/curl"
Describe your bug report or feature request here
...
...
...

### Aseprite and System version

* Aseprite version: version number, installer/portable/Steam/beta/dev/commit-hash
* System: Windows/macOS/Linux, version, distribution

[2022-05-09 12:24] Gasparoken commented on #3280
Hi @iQrz. Maybe you created this problem accidentally?

[2022-05-09 12:48] Gasparoken commented on #3262
Thanks for this report @oceanhahn. You're right, it will be more intuitive and useful to duplicate all the selected layers, and put each copy...

- Adjacent above the copied layers <-- preferred for me
- Adjacent below the copied layers
- All on top
- All on bottom

Perhaps a dialog should be added.

[2022-05-10 03:00] oceanhahn opened #3281 "Closing the Undo History pane takes several minutes for long histories."
Closing the pane for Workspaces with dozens or hundreds of undo states normally takes a few seconds, but as the length of the undo history grows into thousands, the time it takes to close the Undo History pane can drag on well beyond sixty seconds and even into **multiple minutes (!) for undo stacks with several thousand history states.**
During this time, ASEprite becomes unresponsive and Windows

[2022-05-10 03:03] oceanhahn commented on #3281
Incidentally, if you can sort out what is causing this, could you let me know what it was?
I am seriously wracking my brains here trying to imagine why _closing a window_ should be so slow. 😅

Thanks again! :D

[2022-05-10 03:10] oceanhahn commented on #3262
My preference would be for the duplicate layers to appear below their originals, but above is also fine, I think!
A dialogue pane would also be helpful, although I would probably also appreciate having a "Do Not Show this Box Again" option for it as well, and have it reuse my last choice until I reenable the box from Preferences.

[2022-05-10 13:16] dacap commented on #3279
In the past I did some work (in some lost git branch/stash) about something similar, where just clicking a tool (or color) with a specific mouse button (any button) would associate that button with that tool / color. At the moment this is already possible only for colors (left / right mouse buttons), but not with tools (and the right mouse button has its own way [to be customized from the preferen

[2022-05-11 07:35] jsomedon opened #3282 "building v1.3-beta14 on apple m1 with latest skia(m102) fails, works with previous(m96) though"
Building v1.3-beta14 with skia m102 fails, but m96 works. I am building on Apple silicon. Note that I am building with [`ENABLE_LIBB2:BOOL` off as mentioned in this issue](https://github.com/aseprite/aseprite/issues/3257#issuecomment-1101699826). (Leaving it on still gives the same build error mentioned in that issue)

here is error message:
[code]
### Aseprite and System version

* Aseprite versi

[2022-05-11 12:17] dacap commented on #3282
Hi @jsomedon, we have updated some requirements to compile Aseprite (and Skia): you need a compiler with C++17 support, is it probable that you are using an older Xcode version?

[2022-05-11 13:53] jsomedon commented on #3282
My Xcode is 13.3.1. My developer's tool is also 13.3.1.

[2022-05-11 14:34] dacap commented on #3282
Oh from the log, it looks like the problem is not Skia, but your local copy of Aseprite. Are you compiling the main/beta branch? or a release? You should use the latest main/beta commit if you are going to use m102 (because it includes the required C++17 flags).

[2022-05-11 14:35] #3282 closed

[2022-05-11 14:35] dacap commented on #3282
Closing this issue because the issue is the incompatibility of trying to compile the latest release with the new skia when C++17 flags are required (which it's already fixed in main/beta branches).

[2022-05-11 16:37] sos4nt opened #3283 "Use 1px marquee border when zooming"
I've noticed that the marquee selection border is being zoomed along with the canvas. This makes it much harder to make a selection because many pixels are being obstructed by the selection.

It would be cleaner to have a 1px selection border, i.e. the same thickness that's being used for the marching ants border after releasing the mouse button:

<img width="750" alt="1px-marquee" src="https://us

[2022-05-11 21:50] pixelartgirl opened #3284 "en.ini strings issue"
Hi

In the Edit -> preferences window -> General, there is an option "Expand menu bar items on mouseover"
In the file en.ini with all the UI strings, there are those 2 strings:

expand_menu_bar_items_on_mouseover = Expand menu bar items on mouseover
expand_menu_bar_items_on_mouseover_tooltip = <<<END
Check this option to get
this old menus behavior.
END

However, the tooltip is not used for the "E

[2022-05-11 22:07] lunathir commented on #3284
I believe it's just a bug, but I could be wrong.

[2022-05-11 23:02] behreajj opened #3285 "Scripts Allow Sprite Pixel Ratio To Be Assigned Invalid Sizes"
Hello,

I realize few will probably ever run into this, but this can be done with a Lua script:
[code]
The former crashes the application. The latter doesn't, but leads to unexpected behavior.

Background: After reading this thread on [Custom pixel aspect ratio](https://community.aseprite.org/t/custom-pixel-aspect-ratio/), I considered whether to add a feature to a custom sprite properties dialog.

[2022-05-12 12:05] martincapello commented on #3284
Looks like a bug to me either. Thank you!

[2022-05-12 13:51] Gasparoken commented on #3285
Thanks for this report @behreajj. I can be able to reproduce it. I hope we can fix it soon.
In the other hand, customizable pixel ratio is still a pending feature (https://github.com/aseprite/aseprite/issues/1489), which is listed as a part of a bigger feature (https://github.com/aseprite/aseprite/issues/1864).

[2022-05-12 15:17] dacap commented on #3283
Hi @sos4nt, actually this is a duplicate of #2852, anyway it's nice to have a screenshot about the general idea.

We have to refactor/change the internal handling of selection-like tools to improve the general feedback and make the border as small as possible.

[2022-05-12 15:17] #3283 closed

[2022-05-12 15:34] Gasparoken commented on #3281
Thanks @oceanhahn for this report. I was able to reproduce it. In a time profiling, I saw an intensive use of Widget::removeChild() function, which require the execution of _platform_memmove$VARIANT$Haswell. from lib system_platform.dylib
<img width="760" alt="Screen Shot 2022-05-12 at 11 58 29" src="https://user-images.githubusercontent.com/32165475/168109005-610c99c3-a5af-40c5-94ad-6cd9851b0a63.

[2022-05-12 17:46] oceanhahn commented on #3281
Thank you for looking into it!
Out of curiosity, how many steps was the file for it to take 9.42sec?

And since I am asking, what is the significance of the time-13 tag? I see the time-x tags a lot and it every time my curiosity is piqued. ^^

Thanks again; looking forward to whatever you can do to speed this up a bit! <3

[2022-05-12 18:15] Gasparoken commented on #3281
I'm just run a simple lua script to generate 300000 app.useTool commands:
[code]
Ha! _time-x_ are new labels for internal use. These are related to the complexity of a possible solution, and therefore, with the time that it can consume.

[2022-05-12 19:13] dacap commented on #3281
The backtrace is quite confusing because it's jumping from the `UndoHistoryWindow::detachDocument()` to the `OptionsWindow::ExtensionItem` dtor (?)

Anyway it's highly probable that the bottleneck [is here](https://github.com/aseprite/aseprite/blob/e823ee37e9ac86d606e0060784c57e6e9e654e09/src/app/commands/cmd_undo_history.cpp#L197). Deleting items from the beginning of the list instead of deleting

[2022-05-12 20:14] martincapello commented on #3101
Closing this because it is not a bug actually. @PacaPop described a different issue, so if you are still having problems with this, could you please create a new issue describing it in more detail? We were trying to reproduce it without success, thank you.

[2022-05-12 20:14] #3101 closed

[2022-05-12 20:47] pixelartgirl opened #3286 "en.ini unused strings?"
Hi

I'm working on a Dutch translation for Aseprite but in the en.ini file under "[options]" section, I find some strings that are not used (at least, I can't find them in the "preferences" window):

gpu_acceleration
gpu_acceleration_tooltip
show_menu_bar
locate_crash_folder
slide_zoom

Can those be ignored in the file? So they can be deleted by somebody?

I'm testing my translation in version Ase

[2022-05-13 12:51] Gasparoken commented on #3286
Thanks  @pixelartgirl for your collaboration!

**gpu_acceleration** = GPU acceleration <-- Edit > Preferences > General (If the platform does support GPU acceleration)

**gpu_acceleration_tooltip** = Check this option to enable hardware acceleration <-- idem

**show_menu_bar** = Show Aseprite menu bar    <-- Edit > Preferences > General (If the OS does support native menus)

**slide_zoom** = Zoom

[2022-05-13 13:29] dacap commented on #3286
About the GPU strings, they are not used yet, but [we're working on GPU acceleration](https://github.com/aseprite/aseprite/issues/960#issuecomment-912876179) for future versions, anyway probably the strings will change, e.g. to choose the GPU API, like OpenGL, Direct3D, Metal, etc.

This is still used on debug versions (to locate a .dmp, can be used to double-click the .dmp and start the Visual St

[2022-05-13 16:20] pixelartgirl commented on #3286
I'll translate all strings, even if currently unused.

I can't find this second checkbox in v1.3-beta 14 (compiled from source code).

![afbeelding](https://user-images.githubusercontent.com/105394924/168325553-a638f31c-c2b7-4caa-bd49-0dd33b23b8f0.png)

[2022-05-13 16:50] Gasparoken commented on #3286
If you're confortable, that's ok. Personally, I use [(VSCODE and git)](https://www.digitalocean.com/community/tutorials/how-to-use-git-integration-in-visual-studio-code)

[2022-05-13 17:30] dacap commented on #3286
This is an option only available on macOS.

[2022-05-13 17:42] pixelartgirl commented on #3286
I'm trying to make a program in C# that compares en.ini to any translation ini file and gives as a result the missing/unused/verified strings. In this way you immediately can see what's different between the 2 files.

- missing: Strings present in the English INI File but NOT in Your Translation INI File
- unused: Strings present in Your Translation INI File but NOT in the English INI File
- verif

[2022-05-13 17:51] pixelartgirl commented on #3286
I have a question about the INI translation file: is each string name unique in the entire INI file?
So the left hand side of the "="?

[2022-05-13 18:30] #2776 closed

[2022-05-13 18:40] dacap commented on #3286
Oh it looks great. In the past we were distributing some en.ini diff files (e.g. in v1.2.8 https://www.aseprite.org/release-notes/12/#aseprite-v128, the differences https://gist.github.com/dacap/c95cbcefd540795ed88d69b323ebdab6).

This can be calculated with git directly:

    git diff v1.2.7..v1.2.8 data/strings/en.ini

So basically, if you know the version (or commit) of the `en.ini` file which

[2022-05-13 21:56] pixelartgirl commented on #3286
My program is ready. Let me know what you think :)

https://community.aseprite.org/t/aseprite-translation-manager/14253

[2022-05-14 01:09] oceanhahn commented on #3281
Huh. Looks like it might also hit the Preferences pane as well? Not nearly as severely but noticeably, to the tune of two or three seconds to close? It also seems to have the same Listbox in it, albeit with only a dozen or so entries.
Might be worth looking at as well if the whole thing is being refactored?

Anyway now you know! ^^;
Thanks again~

[2022-05-14 18:32] behreajj commented on #3218
Hi,

Thanks so much for pointing this out.

I hope no one minds, but I want to leave a note here, mainly for myself if no one else.
The message comes from here:
https://github.com/aseprite/aseprite/blob/b5414c5d952f152cdf336f048d88469a91b75d57/src/app/script/docobj.h#L44

[2022-05-14 20:22] Himan10 commented on #3156
Hey, @HotCoffee04 anything you've got or found anywhere to solve this issue?
I was trying the same recently but got a lot of errors from CPP source files.

I have Manjaro 21.2.1

[2022-05-14 20:39] lampysprites commented on #3218
It sure takes time to figure out the way around the codebase ( x _ x  ).

It's `get_docobj` in every type metatable's `__eq` that assumes the type of the other operand to be the same, finds no object with given type and ID (bc it's a different type), and throws because of that. e.g.

https://github.com/aseprite/aseprite/blob/b5414c5d952f152cdf336f048d88469a91b75d57/src/app/script/sprite_class.cpp#